Repository amitcjmu/Stock-Analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-staged, check-file-length

Path conditions:
  mypy-staged: any of: ^backend/.*\.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$

  check-file-length: any of: \.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$


fix: Resolve ResourceService and TimelineMilestone model-DB mismatch errors
  backend/app/api/v1/endpoints/plan/roadmap.py
  backend/app/models/planning/timeline_models.py
  backend/app/repositories/planning_flow_repository/timeline_operations.py
  backend/app/services/planning/export_service/base.py
  backend/app/services/planning/export_service/excel_export.py
  backend/app/services/planning/resource_service.py
Due: mypy-staged, check-file-length

feat: Rewrite Roadmap page to display actual wave planning data
  src/pages/assess/Roadmap.tsx
Due: none

feat(assessment): Add 'Collect Missing Data' button for partial apps
  src/components/assessment/StartAssessmentModal.tsx
Due: none

feat: Extract 6R estimation logic and improve resource calculations for Plan flow
  backend/app/api/v1/endpoints/plan/resources.py
  backend/app/api/v1/endpoints/plan/roadmap.py
  backend/app/services/planning/resource_service.py
  backend/app/services/planning/sixr_estimation.py
  src/components/plan/PlanNavigation.tsx
  src/hooks/useResource.ts
  src/hooks/useTimeline.ts
  src/pages/plan/Resource.tsx
  src/pages/plan/Timeline.tsx
Due: mypy-staged, check-file-length

fix: Wave-aware resource estimation using group-level migration strategy
  .serena/memories/docker_restart_not_rebuild.md
  backend/app/services/planning/resource_service.py
  backend/app/services/planning/sixr_estimation.py
Due: mypy-staged, check-file-length

fix: Compute wave group strategy from constituent apps instead of hardcoding
  backend/app/services/planning/wave_planning_service/wave_logic.py
Due: mypy-staged, check-file-length

unit test cases issues
  tests/backend/flows/test_master_flow_enrichment.py
  tests/backend/integration/test_asset_inventory_api.py
  tests/backend/integration/test_cmdb_analysis_api.py
  tests/backend/integration/test_cmdb_processing_api.py
Due: check-file-length

fix: Resolve SQLAlchemy relationship warning and modularize resource_service
  backend/app/models/data_cleansing.py
  backend/app/models/discovery_flow.py
  backend/app/services/planning/resource_service.py
  backend/app/services/planning/resource_service/__init__.py
  backend/app/services/planning/resource_service/enrichment.py
  backend/app/services/planning/resource_service/helpers.py
  backend/app/services/planning/resource_service/service.py
  backend/app/services/planning/wave_planning_service/wave_logic.py
  package-lock.json
  src/components/plan/TimelineGantt.tsx
  src/pages/assess/Roadmap.tsx
  tests/e2e/assessment-gap-fixes-verification.spec.ts
Due: mypy-staged, check-file-length

fix(tests): resolve event loop issues and modularize conftest.py
  tests/backend/integration/conftest.py
  tests/backend/integration/fixtures/__init__.py
  tests/backend/integration/fixtures/api_fixtures.py
  tests/backend/integration/fixtures/db_fixtures.py
  tests/backend/integration/fixtures/model_fixtures.py
  tests/backend/integration/fixtures/test_utils.py
  tests/backend/integration/test_asset_inventory_api.py
Due: check-file-length

fix(tests): correct patch paths in test_master_flow_enrichment.py
  tests/backend/flows/test_master_flow_enrichment.py
Due: check-file-length

fix(tests): replace deprecated asyncio.get_event_loop() with get_running_loop()
  tests/backend/integration/fixtures/test_utils.py
Due: check-file-length

fix(critical): resolve Bug #1167 and #1168 blocking production workflows
  backend/alembic/versions/142_fix_critical_constraints_bugs_1167_1168.py
  backend/app/models/agent_task_history.py
  backend/app/services/agent_monitor/persistence.py
Due: mypy-staged, check-file-length

fix(assessment): root cause fix for Bug #1168 - use master_flow.flow_id in recommendation_executor
  .serena/memories/pytest_asyncio_event_loop_scope_patterns.md
  backend/app/services/agent_monitor/persistence.py
  backend/app/services/flow_orchestration/execution_engine_crew_assessment/recommendation_executor.py
Due: mypy-staged, check-file-length

refactor(persistence): resolve child flow ID to master per Qodo Bot review
  backend/alembic/versions/142_fix_critical_constraints_bugs_1167_1168.py
  backend/app/services/agent_monitor/persistence.py
Due: mypy-staged, check-file-length

docs: add tool-agnostic E2E QA testing guide
  docs/guidelines/E2E_QA_TESTING_GUIDE.md
Due: none

security: fix 14 Dependabot vulnerabilities (9 HIGH, 5 MODERATE)
  backend/requirements-docker.txt
  backend/requirements.txt
  package-lock.json
  package.json
Due: none

fix(tests): resolve flaky dependency-analysis.spec.ts E2E tests
  tests/e2e/assessment/dependency-analysis.spec.ts
Due: none

fix: batch bug fixes with Qodo Bot improvements
  .serena/memories/assessment_flow_patterns_master.md
  backend/app/api/v1/endpoints/collection_crud_questionnaires/commands/background_task.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/database_helpers.py
  backend/app/repositories/crewai_flow_state_extensions/enrichment/collaboration.py
  backend/app/repositories/crewai_flow_state_extensions/enrichment/metadata.py
  backend/app/repositories/crewai_flow_state_extensions/enrichment/transitions.py
  backend/app/services/crewai_flows/tools/dependency_analysis_tool/tools.py
Due: mypy-staged, check-file-length

fix(docs): improve LLM JSON parsing safety in patterns doc
  .serena/memories/llm_json_crewai_patterns_master.md
Due: none

fix(security): conditionally add auth headers instead of empty strings
  .serena/memories/security_patterns_master.md
Due: none

fix: batch bug fixes for 12 issues (UI/UX, agents, assets)
  backend/app/services/crewai_flows/tasks/planning_tasks.py
Due: mypy-staged, check-file-length

fix(planning): async wave planning + compact prompt to prevent timeout
  backend/app/api/v1/master_flows/planning/initialize.py
  backend/app/services/crewai_flows/tasks/planning_tasks.py
Due: mypy-staged, check-file-length

fix(enums): sync PatternType Python enums with PostgreSQL enum values
  backend/app/models/agent_discovered_patterns.py
  backend/app/models/agent_memory.py
  backend/app/services/enrichment/constants.py
Due: mypy-staged, check-file-length

fix(wave-planning): add in-progress UI state for async wave generation
  src/pages/plan/WavePlanning.tsx
Due: none

fix(planning): apply Qodo Bot suggestions for robust app handling
  backend/app/services/crewai_flows/tasks/planning_tasks.py
Due: mypy-staged, check-file-length

fix(batch-2): resolve 5 issues across assessment, data cleansing, and context
  backend/app/api/v1/endpoints/collection_gap_analysis/analysis_endpoints/background_workers.py
  backend/app/api/v1/endpoints/collection_gap_analysis/analysis_endpoints/progress_handlers.py
  backend/app/api/v1/endpoints/data_cleansing/validation.py
  backend/app/core/context.py
  src/components/assessment/StartAssessmentModal.tsx
  src/contexts/AuthContext/storage.ts
Due: mypy-staged, check-file-length

fix: batch 3 bug fixes - 5 issues resolved
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/field_mapping_utils.py
  src/components/discovery/inventory/hooks/useInventoryProgress.ts
  src/pages/collection/ApplicationSelection/hooks/useApplicationData.ts
  src/pages/collection/ApplicationSelection/types.ts
  src/pages/discovery/EnhancedDiscoveryDashboard/components/QuickActions.tsx
  src/pages/discovery/EnhancedDiscoveryDashboard/index.tsx
  src/utils/csvParser.ts
  tests/e2e/collection-gap-analysis.spec.ts
Due: mypy-staged, check-file-length

refactor: address Qodo Bot suggestions for asset classification
  src/components/discovery/inventory/hooks/useInventoryProgress.ts
  src/pages/collection/ApplicationSelection/components/SelectionControls.tsx
  src/pages/collection/ApplicationSelection/hooks/useApplicationData.ts
  src/pages/collection/ApplicationSelection/types.ts
  src/utils/assetClassification.ts
Due: none

fix(batch-4): resolve #1180 and #345 issues
  backend/app/api/v1/endpoints/collection_gap_analysis/analysis_endpoints/progress_handlers.py
  src/components/assessment/__tests__/ReadinessDashboardWidget.test.tsx
Due: mypy-staged, check-file-length

refactor: simplify error handling logic per Qodo Bot review
  backend/app/api/v1/endpoints/collection_gap_analysis/analysis_endpoints/progress_handlers.py
Due: mypy-staged, check-file-length

fix(planning): use user-provided migration_start_date for wave dates
  backend/app/api/v1/endpoints/plan_data.py
  backend/app/api/v1/master_flows/planning/__init__.py
  backend/app/api/v1/master_flows/planning/initialize.py
  backend/app/api/v1/master_flows/planning/retrigger.py
  backend/app/api/v1/master_flows/planning/update.py
  backend/app/services/crewai_flows/tasks/planning_tasks.py
  backend/app/services/planning/wave_planning_service/wave_logic.py
Due: mypy-staged, check-file-length

fix(planning): address Qodo Bot security and code quality findings
  backend/app/api/v1/endpoints/collection_crud_questionnaires/_generate_per_section.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/commands/background_task.py
  backend/app/api/v1/master_flows/planning/initialize.py
  backend/app/api/v1/master_flows/planning/retrigger.py
  backend/app/api/v1/master_flows/planning/shared_utils.py
  backend/app/services/planning/wave_planning_service/wave_logic.py
Due: mypy-staged, check-file-length

fix(collection): repair truncated JSON in gap analysis output parser
  backend/app/services/collection/gap_analysis/output_parser.py
Due: mypy-staged, check-file-length

fix(collection): extract asset_id from metadata.asset_id (singular)
  src/utils/questionnaireUtils.ts
Due: none

fix(collection): inject asset_id into question metadata during generation
  backend/app/services/collection/gap_analysis/section_question_generator/generator.py
Due: mypy-staged, check-file-length

fix(collection): race condition causing 400 error on gap analysis Continue
  backend/app/services/crewai_flows/agents/decision/collection_decisions.py
  backend/app/services/crewai_flows/agents/decision/phase_transition.py
  backend/app/services/flow_orchestration/execution_engine_crew_collection/phase_handlers.py
  backend/tests/unit/services/crewai_flows/agents/decision/test_collection_phase_routing.py
Due: mypy-staged, check-file-length

fix(planning): timezone-aware datetime parsing in wave timeline sync
  backend/app/api/v1/master_flows/planning/update.py
Due: mypy-staged, check-file-length

fix: resolve 6R Treatment Planning error and asset type update 404
  src/lib/api/assets.ts
  src/pages/assess/Treatment.tsx
Due: none

fix(discovery): add execute_phase to DiscoveryChildFlowService
  backend/app/services/child_flow_services/discovery.py
Due: mypy-staged, check-file-length
