Repository amitcjmu/Stock-Analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-credentials, check-jwt-secrets, pip-audit, check-api-keys, prettier, eslint, typecheck, npm-audit

Path conditions:
  check-credentials: any of: \.(py|yml|yaml|json|env)$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*
)$

  check-jwt-secrets: any of: \.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*
)$

  pip-audit: any of: requirements.*\.txt$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*
)$

  check-api-keys: any of: \.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*
)$

  prettier: any of: \.(ts|tsx|js|jsx|json|css|scss|md)$ and not (^(node_modules|dist|build|coverage)/) and not ((?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*
)$
)
  eslint: any of: \.(ts|tsx|js|jsx)$ and not (^(node_modules|dist|build|coverage)/) and not ((?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*
)$
)
  typecheck: any of: \.(ts|tsx)$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*
)$

  npm-audit: any of: package-lock\.json$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*
)$


fix: Restore Python 3.11 in pre-commit config to match Docker
  .pre-commit-config.yaml
Due: check-credentials

docs: Add Python version requirements documentation
  PYTHON_VERSION_NOTE.md
Due: prettier

🔒 Fix security issue: Remove sensitive SQL query logging
  backend/app/api/v1/endpoints/context_establishment.py
Due: check-credentials, check-jwt-secrets, check-api-keys

🛡️ Implement code quality and security recommendations from PR review
  backend/app/api/v1/endpoints/context_establishment.py
  src/constants/demo.ts
  src/contexts/AuthContext/services/authService.ts
  src/contexts/EngagementContext.tsx
  tests/frontend/setup.js
Due: check-credentials, check-jwt-secrets, check-api-keys, prettier, eslint, typecheck

🔧 Fix pre-commit configuration issues
  .pre-commit-config.yaml
Due: check-credentials

feat: Optimize pre-commit hooks for faster developer workflow
  .pre-commit-config.yaml
Due: check-credentials

🔒 Add comprehensive security constraints and data protection measures
  backend/alembic/versions/016_add_security_constraints.py
Due: check-credentials, check-jwt-secrets, check-api-keys

🐛 Fix configuration and service initialization bugs
  backend/app/core/config.py
  backend/app/services/manual_collection/adaptive_form_service.py
Due: check-credentials, check-jwt-secrets, check-api-keys

🐛 Fix collection flow endless polling loop
  src/hooks/collection/useCollectionFlowManagement.ts
Due: prettier, eslint, typecheck

🔧 Fix mypy pre-commit to only check staged files
  .pre-commit-config.yaml
Due: check-credentials

🔧 Apply Qodo feedback: Fix security and pre-commit issues
  .pre-commit-config.yaml
  backend/alembic/versions/016_add_security_constraints.py
Due: check-credentials, check-jwt-secrets, check-api-keys

🔒 Enhance security validation based on Qodo feedback
  .pre-commit-config.yaml
  backend/alembic/versions/016_add_security_constraints.py
Due: check-credentials, check-jwt-secrets, check-api-keys

Fix migration issues and implement vector search for agent patterns
  backend/alembic/versions/003_add_collection_flow_tables.py
  backend/alembic/versions/016_add_security_constraints.py
  backend/alembic/versions/017_add_vector_search_to_agent_patterns.py
  backend/alembic/versions/018_fix_long_constraint_names.py
  backend/app/models/agent_discovered_patterns.py
  backend/scripts/backfill_agent_patterns_embeddings.py
  backend/scripts/fix_orphaned_revision.py
  backend/verify_migration_chain.py
  docs/db/DATABASE_ENHANCEMENT_PLAN.md
  docs/db/DATABASE_IMPLEMENTATION_TASKS.md
  package-lock.json
Due: check-credentials, check-jwt-secrets, check-api-keys, prettier, npm-audit

feat: Implement Row-Level Security and comprehensive data seeding
  backend/alembic/versions/019_implement_row_level_security.py
  backend/app/middleware/tenant_context.py
  backend/main.py
  backend/scripts/identify_multi_tenant_tables.py
  backend/scripts/test_row_level_security.py
  backend/seeding/00_comprehensive_seed.py
Due: check-credentials, check-jwt-secrets, check-api-keys

fix: Resolve FastAPI app naming conflict with app module
  CLAUDE.md
  backend/main.py
Due: check-credentials, check-jwt-secrets, check-api-keys, prettier

fix: Address Qodo bot security and code quality feedback
  backend/app/middleware/tenant_context.py
  backend/scripts/backfill_agent_patterns_embeddings.py
  backend/scripts/test_row_level_security.py
  backend/seeding/00_comprehensive_seed.py
  backend/verify_migration_chain.py
Due: check-credentials, check-jwt-secrets, check-api-keys

fix: Fix TypeScript errors for Vercel deployment
  src/services/api/masterFlowService.ts
  vite.config.ts
Due: prettier, eslint, typecheck

fix: Update vulnerable dependencies flagged by Dependabot
  backend/requirements-docker-secure.txt
  backend/requirements-docker.txt
  backend/requirements-secure-minimal.txt
  backend/requirements-secure.txt
  backend/requirements-updated.txt
  backend/requirements.txt
Due: pip-audit

docs: Add security update instructions for rebuilding Docker containers
  SECURITY_UPDATE_INSTRUCTIONS.md
Due: prettier

fix: Update FastAPI to 0.116.1 to support Starlette 0.47.2
  SECURITY_UPDATE_INSTRUCTIONS.md
  backend/requirements-docker-secure.txt
  backend/requirements-docker.txt
  backend/requirements-secure-minimal.txt
  backend/requirements-secure.txt
  backend/requirements-security.txt
  backend/requirements-updated.txt
  backend/requirements.txt
Due: pip-audit, prettier

fix: Fix asyncpg compatibility issues in Alembic migrations
  backend/alembic/versions/001_comprehensive_initial_schema.py
  backend/alembic/versions/019_implement_row_level_security.py
  backend/scripts/fix_async_migrations.py
Due: check-credentials, check-jwt-secrets, check-api-keys

fix: Fix remaining asyncpg multi-statement SQL issues in migrations
  backend/alembic/versions/019_implement_row_level_security.py
Due: check-credentials, check-jwt-secrets, check-api-keys

fix: Address SQL injection vulnerabilities and migration driver issues
  backend/alembic/env.py
  backend/alembic/versions/001_comprehensive_initial_schema.py
  backend/scripts/fix_async_migrations.py
Due: check-credentials, check-jwt-secrets, check-api-keys

fix: Use psycopg3 driver for Alembic migrations
  backend/alembic/env.py
Due: check-credentials, check-jwt-secrets, check-api-keys

fix: Improve migration error handling and constraint creation
  CLAUDE.md
  backend/alembic/versions/001_comprehensive_initial_schema.py
Due: check-credentials, check-jwt-secrets, check-api-keys, prettier

fix: Add table existence checks to prevent migration failures
  backend/alembic/versions/005_add_gap_analysis_and_questionnaire_tables.py
  backend/alembic/versions/012_agent_observability_enhancement.py
  backend/alembic/versions/015_add_asset_dependencies_table.py
  backend/alembic/versions/016_add_security_constraints.py
Due: check-credentials, check-jwt-secrets, check-api-keys

fix: Resolve CORS, admin role detection, and migration issues
  backend/alembic/versions/003_add_collection_flow_tables.py
  backend/alembic/versions/004_add_platform_credentials_tables.py
  backend/alembic/versions/006_add_collection_flow_next_phase.py
  backend/alembic/versions/007_add_missing_collection_flow_columns.py
  backend/alembic/versions/009_add_collection_flow_id_to_questionnaires.py
  backend/alembic/versions/010_add_timestamp_columns_to_collected_data_inventory.py
  backend/alembic/versions/011_add_updated_at_to_collection_data_gaps.py
  backend/alembic/versions/012_agent_observability_enhancement.py
  backend/alembic/versions/013_fix_agent_task_history_foreign_keys.py
  backend/alembic/versions/014_fix_remaining_agent_foreign_keys.py
  backend/alembic/versions/015_add_asset_dependencies_table.py
  backend/alembic/versions/016_add_security_constraints.py
  backend/alembic/versions/018_fix_long_constraint_names.py
  backend/app/api/v1/endpoints/context/services/user_service.py
  backend/app/api/v1/endpoints/context_establishment.py
  backend/app/core/config.py
  backend/main.py
  backend/nixpacks.toml
  backend/scripts/fix_alembic_version.sql
  backend/scripts/fix_migration_state.py
  src/components/context/ContextBreadcrumbs.tsx
  src/components/layout/sidebar/SidebarHeader.tsx
  src/contexts/AuthContext/hooks/useAuthInitialization.ts
  src/contexts/AuthContext/hooks/useDebugLogging.ts
  src/contexts/AuthContext/index.tsx
  src/contexts/AuthContext/storage.ts
Due: check-credentials, check-jwt-secrets, check-api-keys, prettier, eslint, typecheck

fix: Resolve CORS, admin role detection, and migration issues
  backend/alembic/versions/006_add_collection_flow_next_phase.py
  backend/alembic/versions/007_add_missing_collection_flow_columns.py
  backend/alembic/versions/009_add_collection_flow_id_to_questionnaires.py
  backend/alembic/versions/010_add_timestamp_columns_to_collected_data_inventory.py
  backend/alembic/versions/011_add_updated_at_to_collection_data_gaps.py
  backend/alembic/versions/013_fix_agent_task_history_foreign_keys.py
  backend/alembic/versions/014_fix_remaining_agent_foreign_keys.py
  backend/alembic/versions/015_add_asset_dependencies_table.py
  backend/alembic/versions/016_add_security_constraints.py
  backend/main.py
  backend/nixpacks.toml
  backend/scripts/fix_alembic_version.sql
Due: check-credentials, check-jwt-secrets, check-api-keys

fix: Update uvicorn startup command to use fastapi_app
  backend/Dockerfile
  backend/railway.json
Due: check-credentials, prettier

fix: Add back app alias to fix Railway deployment
  backend/Dockerfile
  backend/main.py
  backend/railway.json
Due: check-credentials, check-jwt-secrets, check-api-keys, prettier

fix: Update Railway startCommand to run migrations via entrypoint.sh
  backend/railway.json
Due: check-credentials, prettier

fix: Ensure migration schema and alembic_version table are created properly
  backend/alembic/versions/015_add_asset_dependencies_table.py
  backend/entrypoint.sh
  backend/scripts/test_cors_deployed.py
Due: check-credentials, check-jwt-secrets, check-api-keys

fix: Update platform admin check to use is_admin flag
  backend/app/core/middleware.py
Due: check-credentials, check-jwt-secrets, check-api-keys

fix: Exempt admin endpoints from client/engagement context requirements
  backend/main.py
Due: check-credentials, check-jwt-secrets, check-api-keys

🐛 Admin Panel: Fix user update functionality and dashboard statistics
  CHANGELOG.md
  backend/app/api/v1/admin/client_management_handlers/client_crud_handler.py
  backend/app/api/v1/admin/engagement_management_handlers/engagement_crud_handler.py
  backend/app/api/v1/auth/handlers/admin_handlers.py
  backend/app/models/client_account.py
  backend/app/services/auth_services/admin_operations_service.py
  backend/backend_log.txt
  backend/scripts/check_admin_access.py
  backend/scripts/check_client_status.py
  backend/scripts/check_engagements.py
  backend/scripts/check_user_structure.py
  backend/scripts/fix_admin_access.py
  backend/scripts/grant_admin_access.py
  backend/scripts/patch_user_model.py
  backend/scripts/test_engagement_stats.py
  backend/scripts/test_user_update.py
  backend_log.txt
Due: check-credentials, check-jwt-secrets, check-api-keys, prettier

🐛 Fix syntax error in admin_operations_service.py
  backend/app/services/auth_services/admin_operations_service.py
Due: check-credentials, check-jwt-secrets, check-api-keys

🐛 Fix syntax errors in engagement CRUD handler
  backend/app/api/v1/admin/engagement_management_handlers/engagement_crud_handler.py
Due: check-credentials, check-jwt-secrets, check-api-keys
