Repository amitcjmu/Stock-Analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-staged, check-file-length

mypy-staged:
  name: mypy type checking (staged files only)
  entry: sh -c 'files=$(git diff --staged --name-only --diff-filter=AM | grep "^backend/.*\.py$"); [ -n "$files" ] && echo "$files" | xargs mypy --ignore-missing-imports --no-strict-optional || true'
  language: system
  pass_filenames: false

check-file-length:
  name: Check Python file length (max 400 lines)
  entry: /opt/homebrew/bin/python3.11 scripts/check-file-length.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: Resolve collection flow resume attribute errors
  backend/app/api/v1/endpoints/collection_crud_execution/commands.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires.py
Due: mypy-staged, check-file-length

fix: Collection questionnaire generation bypass after asset selection
  backend/app/api/v1/endpoints/collection_crud_questionnaires.py
  backend/app/api/v1/endpoints/collection_serializers.py
  backend/app/app_setup/lifecycle.py
  backend/app/core/feature_flags.py
  backend/app/schemas/collection_flow.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/questionnaire_utilities.py
  docs/planning/collection-gaps/questionnaire-generation-fix-plan.md
  src/hooks/collection/useAdaptiveFormFlow.ts
  src/hooks/collection/useQuestionnairePolling.ts
  src/pages/collection/AdaptiveForms.tsx
  src/services/api/collection-flow.ts
Due: mypy-staged, check-file-length

refactor: Implement Qodo bot PR review improvements for robustness
  backend/app/api/v1/endpoints/collection_crud_questionnaires.py
  src/hooks/collection/useQuestionnairePolling.ts
Due: mypy-staged, check-file-length

fix: Convert user_id UUID to string for orphaned flow repair
  backend/app/api/v1/endpoints/collection_crud_execution/commands.py
Due: mypy-staged, check-file-length

fix: Correct function name for collection flow serializer
  backend/app/api/v1/endpoints/collection_crud_update_commands.py
Due: mypy-staged, check-file-length

style: Fix Python compatibility in health check endpoint
  backend/app/api/v1/api.py
Due: mypy-staged, check-file-length

feat: Add comprehensive client-side validation to registration form
  src/pages/Login.tsx
  test-registration-validation.md
Due: none

fix: Map registration form fields to backend expected schema
  src/pages/Login.tsx
Due: none

fix: Remove invalid is_mock field from User model instantiation
  backend/app/services/rbac_handlers/admin_operations_handler.py
  backend/app/services/rbac_handlers/user_management_handler.py
Due: mypy-staged, check-file-length

fix: Add password hashing to user registration flow
  backend/app/schemas/auth_schemas.py
  backend/app/services/rbac_handlers/user_management_handler.py
Due: mypy-staged, check-file-length

fix: Critical user registration fixes and code modularization
  .serena/memories/collection_flow_resume_errors_fix_2025_23.md
  .serena/memories/collection_questionnaire_generation_fix.md
  backend/app/services/flow_configs/collection_handlers/exceptions.py
  backend/app/services/master_flow_orchestrator/operations/flow_lifecycle/__init__.py
  backend/app/services/master_flow_orchestrator/operations/flow_lifecycle/base_operations.py
  backend/app/services/master_flow_orchestrator/operations/flow_lifecycle/state_operations.py
  backend/app/services/master_flow_orchestrator/operations/flow_lifecycle_operations.py
  backend/app/services/rbac_handlers/user_management/__init__.py
  backend/app/services/rbac_handlers/user_management/approval_operations.py
  backend/app/services/rbac_handlers/user_management/profile_operations.py
  backend/app/services/rbac_handlers/user_management/registration_operations.py
  backend/app/services/rbac_handlers/user_management/user_management_handler.py
  backend/app/services/rbac_handlers/user_management/user_state_operations.py
  backend/app/services/rbac_handlers/user_management_handler.py
  backend/app/services/storage_manager/exceptions.py
  backend/app/utils/responses/status_codes.py
  docs/guidelines/DEVELOPER_WORKFLOW_GUIDE.md
  src/pages/Login.tsx
Due: mypy-staged, check-file-length

fix: Address PR review feedback from Qodo
  backend/app/services/rbac_handlers/user_management/profile_operations.py
  backend/app/services/rbac_handlers/user_management/registration_operations.py
  backend/app/utils/responses/status_codes.py
Due: mypy-staged, check-file-length

fix: Resolve multiple bug issues in collection flow
  .serena/memories/user_registration_security_fix_2025_23.md
  backend/app/api/v1/endpoints/collection_crud_questionnaires.py
  backend/app/services/ai_analysis/questionnaire_generator/service.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/initialization_handler.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/questionnaire_utilities.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_managers/questionnaire_handler.py
  backend/app/services/flow_configs/collection_handlers/questionnaire_handlers.py
  src/components/collection/BulkDataGrid.tsx
  src/components/collection/ProgressTracker.tsx
  src/hooks/collection/useProgressMonitoring.ts
Due: mypy-staged, check-file-length

fix: Add fixes for issues #413, #414, and #418
  backend/app/services/persistent_agents/config/agent_wrapper.py
  src/components/admin/shared/hooks/useAdminToasts.ts
  src/components/admin/user-approvals/UserApprovalsMain.tsx
  src/hooks/collection/useProgressMonitoring.ts
  src/hooks/use-toast.ts
Due: mypy-staged, check-file-length

feat: Implement asset-aware AI-powered questionnaire generation
  .serena/memories/asset_aware_questionnaire_generation_2025_24.md
  backend/app/api/v1/endpoints/collection_crud_questionnaires.py
  backend/app/services/ai_analysis/questionnaire_generator/__init__.py
  backend/app/services/ai_analysis/questionnaire_generator/agents.py
  backend/app/services/ai_analysis/questionnaire_generator/service.py
  backend/app/services/ai_analysis/questionnaire_generator/tools.py
  backend/app/services/persistent_agents/agent_pool_constants.py
Due: mypy-staged, check-file-length

feat: Update collection flow phases to align with implementation reality
  backend/app/models/collection_flow/schemas.py
  docs/adr/023-collection-flow-phase-redesign.md
  src/hooks/collection/useProgressMonitoring.ts
Due: mypy-staged, check-file-length

fix: Complete collection flow phase redesign to prevent runtime errors
  backend/alembic/versions/076_remap_collection_flow_phases.py
  backend/app/models/collection_flow/collection_flow_model.py
  backend/app/services/agents/platform_detection_agent_crewai.py
  backend/app/services/crewai_flows/crews/collection/automated_collection_crew.py
  backend/app/services/crewai_flows/crews/collection/platform_detection_crew.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/automated_collection_handler.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/initialization_handler.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/platform_detection_handler.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_managers/automated_collection_manager.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_managers/platform_detection_manager.py
  backend/app/services/flow_configs/collection_phases/automated_collection_phase.py
  backend/app/services/flow_configs/collection_phases/platform_detection_phase.py
  src/hooks/collection/useProgressMonitoring.ts
Due: mypy-staged, check-file-length

fix: Resolve collection flow runtime errors and modularize large files
  backend/alembic/versions/077_update_collection_flow_enum.py
  backend/app/api/v1/endpoints/collection_crud_execution/__init__.py
  backend/app/api/v1/endpoints/collection_crud_execution/analysis.py
  backend/app/api/v1/endpoints/collection_crud_execution/commands.py
  backend/app/api/v1/endpoints/collection_crud_execution/creation.py
  backend/app/api/v1/endpoints/collection_crud_execution/execution.py
  backend/app/api/v1/endpoints/collection_crud_execution/management.py
  backend/app/api/v1/endpoints/collection_crud_queries/__init__.py
  backend/app/api/v1/endpoints/collection_crud_queries/analysis.py
  backend/app/api/v1/endpoints/collection_crud_queries/lists.py
  backend/app/api/v1/endpoints/collection_crud_queries/status.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/commands.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/queries.py
  backend/app/api/v1/endpoints/collection_questionnaires.py
  backend/app/api/v1/endpoints/collection_serializers/__init__.py
  backend/app/api/v1/endpoints/collection_serializers/core.py
  backend/app/api/v1/endpoints/collection_serializers/responses.py
  backend/app/api/v1/endpoints/collection_serializers/utils.py
  backend/app/models/collection_flow/collection_flow_model.py
  backend/app/services/flow_configs/collection_flow_config.py
  backend/app/services/flow_configs/collection_phases/__init__.py
  backend/app/services/flow_configs/collection_phases/asset_selection_phase.py
  docs/e2e-flows/02_Collection/00_Collection_Flow_Summary.md
  docs/e2e-flows/02_Collection/README.md
  docs/e2e-flows/02_Collection/phase-walkthrough.md
  docs/e2e-flows/02_Collection/technical-implementation.md
  src/components/collection/forms/AdaptiveFormContainer.tsx
Due: mypy-staged, check-file-length

added the unit test cases for code coverage
  .pre-commit-config.yaml
  scripts/check-cloud-keys.py
  scripts/check-file-length.py
  scripts/policy-checks.py
  tests/backend/unit/README_UNIT_TESTS.md
  tests/backend/unit/test_agent_management.py
  tests/backend/unit/test_phase_executors.py
  tests/backend/unit/test_phase_handlers.py
  tests/backend/unit/test_state_management.py
  tests/backend/unit/test_utility_components.py
Due: check-file-length

fix: Address Qodo Bot review feedback
  backend/alembic/versions/077_update_collection_flow_enum.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/queries.py
  backend/app/api/v1/endpoints/collection_serializers/core.py
Due: mypy-staged, check-file-length

fix: Emergency commit after pre-commit fixes
  .pre-commit-config.yaml
  scripts/check-cloud-keys.py
  scripts/check-file-length.py
Due: check-file-length

fix: quodo suggestions
  scripts/check-cloud-keys.py
  scripts/policy-checks.py
  tests/backend/unit/test_phase_executors.py
Due: check-file-length

fix: Collection bulk import phase consistency and modularization
  .serena/memories/modularization_enforcement_recovery_2025.md
  backend/app/api/v1/endpoints/collection.py
  backend/app/api/v1/endpoints/collection_bulk_import.py
  backend/app/api/v1/endpoints/collection_bulk_import_assets.py
  backend/app/api/v1/endpoints/collection_crud_create_commands.py
  backend/app/api/v1/endpoints/collection_flow_lifecycle.py
  backend/app/api/v1/endpoints/collection_status_utils.py
  backend/app/api/v1/endpoints/collection_validators.py
  backend/app/repositories/collection_flow_repository.py
  backend/app/services/collection_flow/state_management.py
  backend/app/services/collection_flow/state_management/__init__.py
  backend/app/services/collection_flow/state_management/base.py
  backend/app/services/collection_flow/state_management/commands.py
  backend/app/services/collection_flow/state_management/completion.py
  backend/app/services/collection_flow/state_management/queries.py
  backend/app/services/collection_flow/state_management/service.py
  backend/app/services/collection_phase_progression_service.py
  backend/app/services/crewai_flows/collection_flow_cleanup_service.py
  backend/app/services/crewai_flows/collection_flow_cleanup_service/__init__.py
  backend/app/services/crewai_flows/collection_flow_cleanup_service/base.py
  backend/app/services/crewai_flows/collection_flow_cleanup_service/expired_flows.py
  backend/app/services/crewai_flows/collection_flow_cleanup_service/orphaned_flows.py
  backend/app/services/crewai_flows/collection_flow_cleanup_service/recommendations.py
  backend/app/services/crewai_flows/collection_flow_cleanup_service/service.py
  backend/app/services/crewai_flows/collection_flow_cleanup_service/single_flow.py
  backend/app/services/crewai_flows/unified_collection_flow.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/flow_utilities.py
  backend/app/services/unified_discovery/collection_orchestrator.py
  backend/app/services/unified_discovery/workflow_phase_manager.py
  src/pages/collection/BulkUpload.tsx
Due: mypy-staged, check-file-length

fix: Address all Qodo bot review issues for bulk import feature
  backend/app/api/v1/endpoints/collection.py
  backend/app/api/v1/endpoints/collection_bulk_import.py
  backend/app/api/v1/endpoints/collection_bulk_import_assets.py
  backend/app/config/asset_mappings.py
  backend/app/models/application.py
  backend/app/models/database.py
  backend/app/models/device.py
  backend/app/models/server.py
  backend/app/services/crewai_flows/unified_collection_flow.py
  src/components/admin/user-approvals/UserApprovalsMain.tsx
  src/components/collection/AssetSelectionForm.tsx
  src/components/discovery/attribute-mapping/ImportedDataTab.tsx
  src/components/discovery/inventory/InventoryContent.tsx
  src/components/discovery/inventory/components/ClassificationCards/index.tsx
  src/hooks/collection/useCollectionStatePolling.ts
  src/hooks/discovery/__tests__/useDataCleansingQueries.test.tsx
  src/hooks/discovery/attribute-mapping/useAttributeMappingActions.ts
  src/pages/assessment/[flowId]/architecture.tsx
  src/pages/collection/BulkUpload.tsx
  src/pages/collection/DataIntegration.tsx
Due: mypy-staged, check-file-length

fix: Resolve multiple bug issues (#431, #430, #425, #424, #423, #422)
  backend/app/services/collection_gaps/conflict_detection_service.py
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor.py
  backend/tests/backend/integration/test_agentic_discovery_flow.py
  backend/tests/backend/integration/test_agentic_discovery_flow_mfo.py
  backend/tests/backend/services/test_phase_persistence_helpers/__init__.py
  backend/tests/backend/test_data_cleansing.py
  backend/tests/backend/unit/test_conflict_detection_service.py
Due: mypy-staged, check-file-length

fix: Multiple bug fixes for field mapping and asset processing
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor.py
  backend/app/services/crewai_flows/tools/data_validation/base_tools.py
  backend/app/services/crewai_flows/unified_discovery_flow/base_flow/base.py
  backend/app/services/flow_orchestration/execution_engine_crew_discovery/data_normalization.py
  backend/app/services/flow_orchestration/execution_engine_crew_discovery/phase_orchestration.py
  src/components/discovery/attribute-mapping/FieldMappingsTab/components/FieldMappingLearningControls.tsx
  src/hooks/discovery/attribute-mapping/useAttributeMappingActions.ts
  src/hooks/discovery/useAttributeMappingNavigation.ts
  src/pages/discovery/AttributeMapping/index.tsx
Due: mypy-staged, check-file-length

unit test for delete active flows
  tests/backend/services/test_delete_active_flows.py
Due: check-file-length

fix: Modularize flow_processing.py and consolidate bug 430 memories
  .serena/memories/bug_430_discovery_flow_complete_fix_2025_09.md
  backend/app/api/v1/endpoints/flow_processing.py.backup
  backend/app/api/v1/endpoints/flow_processing/__init__.py
  backend/app/api/v1/endpoints/flow_processing/base.py
  backend/app/api/v1/endpoints/flow_processing/commands.py
  backend/app/api/v1/endpoints/flow_processing/queries.py
  backend/app/api/v1/endpoints/flow_processing/utils.py
  backend/app/api/v1/endpoints/flow_processing_processors.py
Due: mypy-staged, check-file-length

fix: User approval system display and functionality issues
  backend/alembic/versions/add_username_to_users.py
  backend/app/models/asset/models.py
  backend/app/models/asset_agnostic/asset_field_conflicts.py
  backend/app/models/client_account/user.py
  backend/app/models/rbac.py
  backend/app/models/rbac/__init__.py
  backend/app/models/rbac/access_models.py
  backend/app/models/rbac/audit_models.py
  backend/app/models/rbac/base.py
  backend/app/models/rbac/enums.py
  backend/app/models/rbac/models.py
  backend/app/models/rbac/user_models.py
  backend/app/schemas/auth_schemas.py
  backend/app/services/rbac_handlers/user_management/approval_operations.py
  backend/app/services/rbac_handlers/user_management/registration_operations.py
  docs/development/callstack/assessment-flow-callstack.md
  docs/development/callstack/collection-flow-callstack.md
  docs/development/callstack/discovery-flow-callstack.md
  src/components/admin/user-approvals/UserApprovalsMain.tsx
  src/components/admin/user-approvals/UserDetailsModal.tsx
  src/components/admin/user-approvals/UserList.tsx
  src/components/admin/user-approvals/types.ts
Due: mypy-staged, check-file-length

fix: Address code review feedback for user approval system
  backend/app/services/rbac_handlers/user_management/approval_operations.py
  src/components/admin/user-approvals/UserApprovalsMain.tsx
  src/components/admin/user-approvals/UserList.tsx
Due: mypy-staged, check-file-length

Made changes as per Qodo Merg recommendations
  tests/backend/services/test_delete_active_flows.py
Due: check-file-length

Restore clean test file - all tests passing
  tests/backend/services/test_delete_active_flows.py
Due: check-file-length

Apply all CodeRabbit suggestions - test AssessmentFlowService as SUT with mocked dependencies
  tests/backend/services/test_delete_active_flows.py
Due: check-file-length

fix: Fix Alembic migration 076 production errors
  backend/alembic/versions/076_remap_collection_flow_phases.py
Due: mypy-staged, check-file-length

fix: Address SQL injection vulnerability in migration 076
  backend/alembic/versions/076_remap_collection_flow_phases.py
Due: mypy-staged, check-file-length

fix: Remove redundant database initialization from entrypoint.sh
  backend/entrypoint.sh
Due: none

fix: Resolve UserAccessManagement initialization error
  src/components/admin/user-approvals/UserAccessManagement.tsx
Due: none

fix: Restrict Administrator role to admin access level only
  src/components/admin/user-approvals/UserApprovalsMain.tsx
Due: none

fix: Improve admin role restriction with better state handling and UX
  src/components/admin/user-approvals/UserApprovalsMain.tsx
Due: none

Path conditions:
  mypy-staged: any of: ^backend/.*\.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$

  check-file-length: any of: \.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$

