Repository amitcjmu/Stock-Analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-staged, check-file-length

mypy-staged:
  name: mypy type checking (staged files only)
  entry: sh -c 'files=$(git diff --staged --name-only --diff-filter=AM | grep "^backend/.*\.py$"); [ -n "$files" ] && echo "$files" | xargs mypy --ignore-missing-imports --no-strict-optional || true'
  language: system
  pass_filenames: false

check-file-length:
  name: Check Python file length (max 400 lines)
  entry: /opt/homebrew/bin/python3.11 scripts/check-file-length.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: Address code review feedback for UserAccessManagement
  src/components/admin/user-approvals/UserAccessManagement.tsx
Due: none

fix: Enable Collection flow to start from alternate entry points
  .serena/memories/alembic_migration_production_fixes_2025_27.md
  backend/app/api/v1/endpoints/collection_applications.py
  backend/app/api/v1/endpoints/collection_crud_create_commands.py
  backend/app/services/collection/asset_selection_bootstrap.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/questionnaire_utilities.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/questionnaire_utilities/__init__.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/questionnaire_utilities/core.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/questionnaire_utilities/orchestration.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/questionnaire_utilities/state_management.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/questionnaire_utilities/utils.py
  docs/planning/collection-flow-fixes/implementation-plan-2025-01-27.md
  docs/planning/collection-flow-fixes/implementation-summary-2025-01-27.md
  tests/backend/unit/test_phase_executors.py
Due: mypy-staged, check-file-length

fix: Register asset_selection_preparation handler via extension module
  backend/app/services/flow_configs/__init__.py
  backend/app/services/flow_configs/collection_handler_extensions.py
Due: mypy-staged, check-file-length

fix: Enable collection flow phase transition for UUID questionnaire ID
  .serena/memories/collection_flow_alternate_entry_fixes_2025_27.md
  .serena/memories/collection_flow_fixes_2025_09.md
  backend/app/api/v1/endpoints/collection_crud_create_commands.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/agents.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/commands.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/queries.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/utils.py
  backend/app/api/v1/endpoints/collection_crud_update_commands.py
  backend/app/models/collection_flow/gap_analysis_model.py
  backend/app/services/collection/asset_selection_bootstrap.py
  src/components/collection/AssetSelectionForm.tsx
  src/hooks/collection/useAdaptiveFormFlow.ts
  src/hooks/collection/useCollectionStatePolling.ts
  src/hooks/collection/useQuestionnairePolling.ts
  src/services/api/collection-flow.ts
Due: mypy-staged, check-file-length

fix: Collection Flow questionnaire generation and agent tool loading
  .serena/memories/collection_questionnaire_empty_sections_fix_2025_30.md
  .serena/memories/collection_questionnaire_generation_fix_complete_2025_30.md
  .serena/memories/collection_questionnaire_id_fixes_2025_29.md
  backend/alembic/versions/add_created_at_to_name_variants.py
  backend/app/api/v1/endpoints/collection_applications.py
  backend/app/api/v1/endpoints/collection_crud_create_commands.py
  backend/app/api/v1/endpoints/collection_crud_execution/execution.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/agents.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/commands.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/queries.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/utils.py
  backend/app/api/v1/endpoints/collection_crud_update_commands.py
  backend/app/models/collection_flow/adaptive_questionnaire_model.py
  backend/app/services/ai_analysis/questionnaire_generator/tools/analysis.py
  backend/app/services/ai_analysis/questionnaire_generator/tools/generation.py
  backend/app/services/flow_configs/collection_phases/asset_selection_phase.py
  backend/app/services/flow_orchestration/execution_engine_crew_collection.py
  backend/app/services/flow_type_registry.py
  backend/app/services/master_flow_sync_service/mappers.py
  backend/app/services/master_flow_sync_service/service.py
  backend/app/services/master_flow_sync_service/sync_helpers.py
  backend/app/services/persistent_agents/tool_manager.py
  src/components/collection/AssetSelectionForm.tsx
  src/hooks/collection/useAdaptiveFormFlow.ts
  src/utils/collection/formDataTransformation.ts
Due: mypy-staged, check-file-length

Add unit tests for import storage handlers and discovery flow service
  tests/backend/api/v1/test_import_storage_handler.py
  tests/backend/services/storage_manager/test_operations.py
  tests/backend/services/test_discovery_flow_service.py
  tests/backend/services/test_import_storage_handler.py
Due: check-file-length

Add unit tests for import storage handlers and discovery flow service
  tests/backend/api/v1/test_import_storage_handler.py
Due: check-file-length

Remove test_delete_active_flows.py which is no longer required
  tests/backend/services/test_delete_active_flows.py
Due: check-file-length

changes for Qodo Bot's suggestions
  tests/backend/api/v1/test_import_storage_handler.py
  tests/backend/services/test_import_storage_handler.py
  tests/backend/unit/test_phase_executors.py
Due: check-file-length

fix: Collection Flow questionnaire generation with correct FK usage and UI fixes
  backend/app/api/v1/endpoints/collection_crud_questionnaires/commands.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/utils.py
  backend/app/services/ai_analysis/questionnaire_generator/tools/generation.py
  backend/app/services/ai_analysis/questionnaire_generator/tools/question_builders.py
  backend/app/services/ai_analysis/questionnaire_generator/tools/section_builders.py
  backend/app/services/ai_analysis/questionnaire_generator/tools/utils.py
  backend/app/services/persistent_agents/tool_manager.py
  src/components/collection/CollectionUploadBlocker.tsx
  src/pages/collection/AdaptiveForms.tsx
Due: mypy-staged, check-file-length

fix: Apply Qodo Bot PR feedback - critical and high priority fixes
  backend/app/api/v1/endpoints/collection_applications.py
  backend/app/api/v1/endpoints/collection_crud_update_commands.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/questionnaire_utilities/core.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/questionnaire_utilities/orchestration.py
  backend/app/services/flow_orchestration/execution_engine_crew_collection.py
  src/hooks/collection/useAdaptiveFormFlow.ts
  src/hooks/collection/useQuestionnairePolling.ts
  src/pages/collection/AdaptiveForms.tsx
Due: mypy-staged, check-file-length

fix: Phase 2 - CrewAI factory migration and critical bug fixes
  backend/app/services/collection_flow/schemas/migration_field_schema.py
  backend/app/services/crewai_flows/crews/agentic_asset_enrichment_crew.py
  backend/app/services/crewai_flows/crews/app_app_dependency_crew.py
  backend/app/services/crewai_flows/crews/app_server_dependency_crew.py
  backend/app/services/crewai_flows/crews/architecture_standards_crew.py
  backend/app/services/crewai_flows/crews/asset_intelligence_crew.py
  backend/app/services/crewai_flows/crews/collection/gap_analysis_crew.py
  backend/app/services/crewai_flows/crews/collection/manual_collection_crew.py
  backend/app/services/crewai_flows/crews/component_analysis_crew.py
  backend/app/services/crewai_flows/crews/data_import_validation_crew.py
  backend/app/services/crewai_flows/crews/dependency_analysis_crew.py
  backend/app/services/crewai_flows/crews/field_mapping_crew.py
  backend/app/services/crewai_flows/crews/field_mapping_crew_fast.py
  backend/app/services/crewai_flows/crews/inventory_building_crew_original.py
  backend/app/services/crewai_flows/crews/optimized_crew_base.py
  backend/app/services/crewai_flows/crews/optimized_field_mapping_crew.py
  backend/app/services/crewai_flows/crews/sixr_strategy_crew.py
  backend/app/services/crewai_flows/crews/tech_debt_analysis_crew.py
  backend/app/services/crewai_flows/crews/technical_debt_crew.py
  backend/app/services/persistent_agents/tenant_scoped_agent_pool.py
Due: mypy-staged, check-file-length

fix: Apply Qodo Bot PR feedback - critical and high priority fixes
  backend/app/api/v1/endpoints/data_import/field_mapping/services/suggestion_service.py
  backend/app/services/ai_analysis/questionnaire_generator/agents.py.deprecated
  backend/app/services/ai_analysis/questionnaire_generator/tasks.py.deprecated
  backend/app/services/crewai_flows/flow_state_manager/__init__.py
  backend/app/services/crewai_flows/flow_state_manager/basic_commands.py
  backend/app/services/crewai_flows/flow_state_manager/status_commands.py
Due: mypy-staged, check-file-length

fix: Make questionnaire tools inherit from CrewAI BaseTool to resolve agent validation errors
  backend/app/services/ai_analysis/questionnaire_generator/tools/analysis.py
  backend/app/services/ai_analysis/questionnaire_generator/tools/validation.py
  backend/app/services/persistent_agents/tool_manager.py
  backend/tests/unit/test_questionnaire_tools_conformance.py
Due: mypy-staged, check-file-length

refactor: Rename and improve alembic migration 078
  backend/alembic/versions/078_add_updated_at_to_name_variants.py
  backend/alembic/versions/735141d00d27_add_updated_at_column_to_application_.py
  backend/tests/unit/test_questionnaire_tools_conformance.py
Due: mypy-staged, check-file-length

feat: Comprehensive LLM usage tracking with automatic logging
  CLAUDE.md
  backend/alembic/versions/079_create_llm_usage_logs.py
  backend/app/api/v1/api_tags.py
  backend/app/api/v1/finops/finops_router.py
  backend/app/api/v1/router_imports.py
  backend/app/api/v1/router_registry.py
  backend/app/app_setup/lifecycle.py
  backend/app/core/startup.py
  backend/app/services/litellm_tracking_callback.py
  backend/app/services/llm_usage_tracker.py
  backend/app/services/multi_model_service.py
  backend/scripts/README_LLM_TRACKING.md
  backend/scripts/check_llm_calls.py
Due: mypy-staged, check-file-length

refactor: Address Qodo Bot code review feedback
  backend/QODO_REVIEW_RESPONSE.md
  backend/alembic/versions/078_add_updated_at_to_name_variants.py
  backend/app/services/litellm_tracking_callback.py
Due: mypy-staged, check-file-length

fix: Resolve multiple bug issues (#481, #463, #409)
  backend/app/api/v1/endpoints/data_cleansing/analysis.py
  backend/app/api/v1/endpoints/data_cleansing/base.py
  backend/app/api/v1/endpoints/data_cleansing/operations.py
  src/components/discovery/FlowStatusWidget.tsx
  src/pages/discovery/DataCleansing.tsx
  tests/backend/integration/test_collection_flow_mfo.py
Due: mypy-staged, check-file-length

fix: Address Qodo Bot code review feedback
  .serena/memories/llm_tracking_implementation_2025_10_02.md
  .serena/memories/qodo_bot_pr_fixes_transaction_session_patterns_2025_10_02.md
  backend/app/api/v1/endpoints/data_cleansing/analysis.py
  backend/app/api/v1/endpoints/data_cleansing/operations.py
  src/pages/discovery/DataCleansing.tsx
Due: mypy-staged, check-file-length

fix: Resolve issues #447, #425, #423
  backend/app/services/agents/agent_service_layer/core/service_layer.py
  backend/app/services/crewai_flows/handlers/crew_execution/integration.py
  src/components/discovery/inventory/InventoryContent.tsx
  src/types/api/discovery/flow-state-management.ts
  src/types/discovery.ts
Due: mypy-staged, check-file-length

fix: Resolve import errors in test files (Issue #435 Tier 1)
  tests/backend/api/v1/test_flows_api.py
  tests/backend/services/test_master_flow_orchestrator_comprehensive.py
Due: check-file-length

fix: Complete Issues #435, #441 (partial), #443 - Major test fixes
  backend/app/api/v1/endpoints/collection_gaps/governance/schemas.py
  backend/tests/backend/integration/test_collection_gaps_phase2.py
  tests/backend/api/v1/endpoints/test_sessions.py
  tests/backend/backend/schema/test_complete_schema.py
  tests/backend/backend/schema/test_field_mapping_api.py
  tests/backend/flows/test_discovery_flow.py
  tests/backend/integration/conftest.py
  tests/backend/test_cache_integration.py
  tests/backend/test_discovery_flow_base.py
  tests/conftest.py
  tests/fixtures/mfo_fixtures/__init__.py
Due: mypy-staged, check-file-length

fix: Complete Issue #441 - All 26 unit test failures resolved
  backend/app/services/flow_configs/collection_handlers/asset_handlers.py
  backend/tests/backend/integration/test_collection_gaps_phase2.py
  backend/tests/services/test_asset_write_back.py
  backend/tests/test_service_registry.py
Due: mypy-staged, check-file-length

fix: Complete Issue #441 - Fix all 26 unit test failures
  backend/tests/backend/integration/test_collection_gaps_phase2.py
Due: mypy-staged, check-file-length

docs: Add ADR-024 for TenantMemoryManager architecture and CrewAI memory migration
  CLAUDE.md
  docs/adr/019-crewai-deepinfra-embeddings-monkey-patch.md
  docs/adr/024-tenant-memory-manager-architecture.md
  docs/adr/README.md
  docs/development/CREWAI_DEEPINFRA_EMBEDDINGS_RESEARCH.md
  docs/development/TENANT_MEMORY_STRATEGY.md
Due: none

feat: Implement ADR-024 TenantMemoryManager - Disable CrewAI memory
  .serena/memories/unit_test_fixing_async_mock_patterns_2025_10_02.md
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/memory_management.py
  backend/app/api/v1/api_tags.py
  backend/app/api/v1/router_imports.py
  backend/app/api/v1/router_registry.py
  backend/app/core/config.py
  backend/app/services/crewai_flows/config/crew_factory/config.py
  backend/app/services/crewai_flows/crews/__init__.py
  backend/app/services/crewai_flows/crews/agentic_asset_enrichment_crew.py
  backend/app/services/crewai_flows/crews/field_mapping_crew_fast.py
  backend/app/services/crewai_flows/crews/optimized_field_mapping_crew/crew.py
  backend/app/services/crewai_flows/memory/tenant_memory_manager.py
Due: mypy-staged, check-file-length

fix: Properly implement Steps 5-7 of ADR-024 TenantMemoryManager strategy
  backend/app/api/v1/admin/memory_management.py
  backend/app/services/crewai_flows/crews/field_mapping_crew_fast.py
Due: mypy-staged, check-file-length

fix: Address Qodo Bot PR review - vector dimensions, data isolation, and admin auth
  backend/app/api/v1/admin/memory_management.py
  backend/app/services/crewai_flows/memory/tenant_memory_manager.py
  backend/app/utils/vector_utils.py
Due: mypy-staged, check-file-length

security: Fix Dependabot alerts CVE-2025-58754 and CVE-2025-55197
  AXIOS_UPGRADE_TEST_REPORT.md
  backend/app/services/crewai_flows/memory/tenant_memory_manager.py
  backend/app/services/crewai_flows/memory/tenant_memory_manager/__init__.py
  backend/app/services/crewai_flows/memory/tenant_memory_manager/analytics.py
  backend/app/services/crewai_flows/memory/tenant_memory_manager/base.py
  backend/app/services/crewai_flows/memory/tenant_memory_manager/cleanup.py
  backend/app/services/crewai_flows/memory/tenant_memory_manager/enums.py
  backend/app/services/crewai_flows/memory/tenant_memory_manager/isolation.py
  backend/app/services/crewai_flows/memory/tenant_memory_manager/models.py
  backend/app/services/crewai_flows/memory/tenant_memory_manager/storage.py
  config/dependencies/requirements-docker-secure.txt
  package-lock.json
  package.json
Due: mypy-staged, check-file-length

feat: Implement ADR-024 - Disable CrewAI memory and integrate TenantMemoryManager
  .serena/memories/adr024_crewai_memory_disabled_2025_10_02.md
  CLAUDE.md
  backend/app/services/agentic_intelligence/business_value_agent.py
  backend/app/services/agentic_intelligence/modernization_agent.py
  backend/app/services/agentic_intelligence/risk_assessment_agent.py
  backend/app/services/agents/asset_inventory_agent_crewai.py
  backend/app/services/agents/collection_orchestrator_agent_crewai.py
  backend/app/services/agents/credential_validation_agent_crewai.py
  backend/app/services/agents/critical_attribute_assessor_crewai.py
  backend/app/services/agents/data_cleansing_agent_crewai.py
  backend/app/services/agents/data_validation_agent_crewai.py
  backend/app/services/agents/field_mapping_agent.py
  backend/app/services/agents/gap_prioritization_agent_crewai.py
  backend/app/services/agents/metadata.py
  backend/app/services/agents/progress_tracking_agent_crewai.py
  backend/app/services/agents/questionnaire_dynamics_agent_crewai.py
  backend/app/services/agents/tier_recommendation_agent_crewai.py
  backend/app/services/agents/validation_workflow_agent_crewai.py
  backend/app/services/ai_analysis/questionnaire_generator/__init__.py
  backend/app/services/crewai_flows/crews/agentic_asset_enrichment_crew.py
  backend/app/services/crewai_flows/crews/app_app_dependency_crew.py
  backend/app/services/crewai_flows/crews/app_server_dependency_crew/crew.py
  backend/app/services/crewai_flows/crews/app_server_dependency_crew/tasks.py
  backend/app/services/crewai_flows/crews/asset_intelligence_crew.py
  backend/app/services/crewai_flows/crews/collection/gap_analysis_crew.py
  backend/app/services/crewai_flows/crews/collection/manual_collection_crew.py
  backend/app/services/crewai_flows/crews/data_import_validation_crew.py
  backend/app/services/crewai_flows/crews/field_mapping_crew.py
  backend/app/services/crewai_flows/crews/optimized_crew_base.py
  backend/app/services/enhanced_agent_memory.py
  backend/app/services/field_mapping_executor/agent_executor.py
  backend/app/services/optimized_agent_config.py
  backend/app/services/persistent_agents/agent_pool_constants.py
  backend/app/services/persistent_agents/config/agent_wrapper.py
  backend/tests/test_service_registry.py
  docs/analysis/Notes/000-lessons.md
  docs/development/TENANT_MEMORY_INTEGRATION_PLAN.md
Due: mypy-staged, check-file-length

refactor: Modularize 6 files exceeding 400-line limit
  backend/app/services/agentic_intelligence/business_value_agent.py
  backend/app/services/agentic_intelligence/business_value_agent/__init__.py
  backend/app/services/agentic_intelligence/business_value_agent/base.py
  backend/app/services/agentic_intelligence/business_value_agent/core.py
  backend/app/services/agentic_intelligence/business_value_agent/crew_builder.py
  backend/app/services/agentic_intelligence/business_value_agent/parsers.py
  backend/app/services/agentic_intelligence/business_value_agent/utils.py
  backend/app/services/agentic_intelligence/modernization_agent.py
  backend/app/services/agentic_intelligence/modernization_agent/__init__.py
  backend/app/services/agentic_intelligence/modernization_agent/base.py
  backend/app/services/agentic_intelligence/modernization_agent/core.py
  backend/app/services/agentic_intelligence/modernization_agent/crew_builder.py
  backend/app/services/agentic_intelligence/modernization_agent/parsers.py
  backend/app/services/agentic_intelligence/modernization_agent/utils.py
  backend/app/services/agentic_intelligence/risk_assessment_agent.py
  backend/app/services/agentic_intelligence/risk_assessment_agent/__init__.py
  backend/app/services/agentic_intelligence/risk_assessment_agent/base.py
  backend/app/services/agentic_intelligence/risk_assessment_agent/core.py
  backend/app/services/agentic_intelligence/risk_assessment_agent/crew_builder.py
  backend/app/services/agentic_intelligence/risk_assessment_agent/parsers.py
  backend/app/services/agentic_intelligence/risk_assessment_agent/utils.py
  backend/app/services/agents/gap_prioritization_agent_crewai/__init__.py
  backend/app/services/agents/gap_prioritization_agent_crewai/base.py
  backend/app/services/agents/gap_prioritization_agent_crewai/core.py
  backend/app/services/agents/gap_prioritization_agent_crewai/utils.py
  backend/app/services/enhanced_agent_memory/__init__.py
  backend/app/services/enhanced_agent_memory/base.py
  backend/app/services/enhanced_agent_memory/storage.py
  backend/app/services/enhanced_agent_memory/utils.py
  backend/app/services/optimized_agent_config/__init__.py
  backend/app/services/optimized_agent_config/base.py
  backend/app/services/optimized_agent_config/factory.py
  backend/app/services/optimized_agent_config/utils.py
Due: mypy-staged, check-file-length

fix: Address Qodo Bot security and architecture findings
  backend/app/services/agentic_intelligence/business_value_agent/core.py
  backend/app/services/agentic_intelligence/modernization_agent/core.py
  backend/app/services/agentic_intelligence/risk_assessment_agent/core.py
  backend/app/services/agents/asset_inventory_agent_crewai.py
  backend/app/services/agents/credential_validation_agent_crewai.py
  backend/app/services/agents/data_validation_agent_crewai.py
  backend/app/services/crewai_flows/crews/optimized_crew_base.py
  backend/app/services/crewai_flows/memory/pattern_sanitizer.py
Due: mypy-staged, check-file-length

fix: Complete TenantMemoryManager integration by passing historical patterns to crews
  backend/app/services/agentic_intelligence/business_value_agent/core.py
  backend/app/services/agentic_intelligence/business_value_agent/crew_builder.py
  backend/app/services/agentic_intelligence/modernization_agent/core.py
  backend/app/services/agentic_intelligence/modernization_agent/crew_builder.py
  backend/app/services/agentic_intelligence/risk_assessment_agent/core.py
  backend/app/services/agentic_intelligence/risk_assessment_agent/crew_builder.py
  docs/code-reviews/2025-10-02_config_driven_pipeline_critique.md
  docs/code-reviews/2025-10-02_pr480_coverage_analysis_critique.md
Due: mypy-staged, check-file-length

fix: Address final Qodo Bot review findings (9 issues)
  backend/app/services/agentic_intelligence/business_value_agent/core.py
  backend/app/services/agentic_intelligence/modernization_agent/core.py
  backend/app/services/agentic_intelligence/modernization_agent/parsers.py
  backend/app/services/agentic_intelligence/modernization_agent/utils.py
  backend/app/services/agentic_intelligence/risk_assessment_agent/core.py
  backend/app/services/agentic_intelligence/risk_assessment_agent/parsers.py
  backend/app/services/agents/asset_inventory_agent_crewai.py
  backend/app/services/agents/gap_prioritization_agent_crewai/utils.py
  backend/app/services/crewai_flows/memory/pattern_sanitizer.py
  backend/app/services/optimized_agent_config/utils.py
Due: mypy-staged, check-file-length

fix: Resolve bugs #491 and #444 with enterprise resilience patterns
  backend/app/api/v1/endpoints/collection_gaps/collection_flows/utils.py
  tests/backend/integration/test_multi_sprint_agent_learning.py
Due: mypy-staged, check-file-length

refactor: Extract duplicated error handling into reusable helper per Qodo feedback
  backend/app/api/v1/endpoints/collection_gaps/collection_flows/utils.py
Due: mypy-staged, check-file-length

fix: Resolve three critical inventory page issues
  src/components/discovery/inventory/InventoryContent.tsx
Due: none

fix: Collection Progress Monitor metrics not displaying (NaN, Invalid Date)
  backend/app/api/v1/endpoints/collection_serializers/core.py
  src/components/collection/progress/FlowDetailsCard.tsx
  src/components/collection/progress/FlowListSidebar.tsx
  src/components/collection/progress/ProgressMonitorContainer.tsx
Due: mypy-staged, check-file-length

Path conditions:
  mypy-staged: any of: ^backend/.*\.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$

  check-file-length: any of: \.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$

