Repository amitcjmu/Stock-Analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-staged, check-file-length

Path conditions:
  mypy-staged: any of: ^backend/.*\.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$

  check-file-length: any of: \.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$


feat(assessment): Add editable dropdowns for complexity metrics with real-time tile updates
  src/pages/assessment/[flowId]/complexity.tsx
Due: none

fix(assessment): Fix React hooks order violation in complexity page
  src/pages/assessment/[flowId]/complexity.tsx
Due: none

fix(assessment): Prevent auto-progression by validating user phase matches database phase
  backend/app/repositories/assessment_flow_repository/commands/flow_commands/resumption.py
Due: mypy-staged, check-file-length

fix(assessment): Add phase field to all assessment page resumeFlow calls
  src/pages/assessment/[flowId]/architecture.tsx
  src/pages/assessment/[flowId]/sixr-review.tsx
  src/pages/assessment/[flowId]/tech-debt.tsx
Due: none

feat(assessment): Add complexity metrics persistence with backend API endpoint
  backend/app/api/v1/master_flows/assessment/info_endpoints.py
  src/pages/assessment/[flowId]/complexity.tsx
Due: mypy-staged, check-file-length

fix: Use request body for PUT complexity metrics (per API guidelines)
  backend/app/api/v1/master_flows/assessment/info_endpoints.py
  src/pages/assessment/[flowId]/complexity.tsx
Due: mypy-staged, check-file-length

fix: Use Pydantic model for complexity metrics request body
  backend/app/api/v1/master_flows/assessment/info_endpoints.py
Due: mypy-staged, check-file-length

fix: Add missing Save icon import to complexity page
  src/pages/assessment/[flowId]/complexity.tsx
Due: none

fix: Use apiClient for complexity metrics to include multi-tenant headers
  docs/planning/DECOMMISSION_FLOW_FINAL_REVIEW.md
  docs/planning/DECOMMISSION_FLOW_SOLUTION_REVIEW.md
  src/pages/assessment/[flowId]/complexity.tsx
Due: none

fix: Correct model name from AssetCustomAttribute to AssetCustomAttributes
  backend/app/api/v1/master_flows/assessment/info_endpoints.py
Due: mypy-staged, check-file-length

fix(qodo-bot): Address PR #1026 feedback - 7 critical improvements
  analysis_680_vs_1009.md
  backend/alembic/versions/130_backfill_canonical_applications.py
  backend/app/api/v1/master_flows/assessment/info_endpoints.py
  backend/app/services/flow_orchestration/execution_engine_crew_assessment/recommendation_executor.py
  docs/adr/036-canonical-application-junction-table-architecture.md
  docs/guidelines/OBSERVABILITY_ENFORCEMENT_PLAN.md
  docs/guidelines/OBSERVABILITY_PATTERNS.md
Due: mypy-staged, check-file-length

docs: Add comprehensive MFO flow ID pattern documentation
  .serena/memories/mfo_two_table_flow_id_pattern_critical.md
  CLAUDE.md
  docs/code-templates/README.md
  docs/code-templates/mfo-execute-phase-pattern.py
Due: check-file-length

feat: Implement Assessment Flow dependency analysis with D3.js visualization
  backend/app/api/v1/endpoints/assessment_flow/dependency_endpoints.py
  backend/app/api/v1/endpoints/assessment_flow_router.py
  backend/app/repositories/assessment_data_repository/dependency_queries.py
  backend/app/repositories/dependency_repository.py
  backend/app/repositories/dependency_repository/__init__.py
  backend/app/repositories/dependency_repository/app_app_queries.py
  backend/app/repositories/dependency_repository/app_server_queries.py
  backend/app/repositories/dependency_repository/base.py
  backend/app/repositories/dependency_repository/flow_queries.py
  backend/app/repositories/dependency_repository/generic_commands.py
  package-lock.json
  package.json
  src/components/assessment/DependencyGraphVisualization.md
  src/components/assessment/DependencyGraphVisualization.tsx
  src/components/assessment/__tests__/DependencyGraphVisualization.example.tsx
  src/components/assessment/__tests__/DependencyGraphVisualization.test.tsx
  src/lib/api/assessmentDependencyApi.ts
  src/pages/assessment/[flowId]/dependency.tsx
  tests/e2e/assessment/dependency-analysis.spec.ts
Due: mypy-staged, check-file-length

fix: Use MFO resume pattern for dependency analysis execution
  backend/app/api/v1/endpoints/assessment_flow/dependency_endpoints.py
Due: mypy-staged, check-file-length

fix: Remove manual execution, enable auto-execution for dependency_analysis phase
  backend/app/api/v1/endpoints/assessment_flow/dependency_endpoints.py
  backend/app/services/flow_configs/assessment_handlers.py
  backend/app/services/flow_configs/assessment_phases/dependency_analysis_phase.py
  src/lib/api/assessmentDependencyApi.ts
  src/pages/assessment/[flowId]/dependency.tsx
Due: mypy-staged, check-file-length

feat(assessment): Add dependency graph construction and manual execution
  backend/app/api/v1/endpoints/assessment_flow/dependency_endpoints.py
  src/lib/api/assessmentDependencyApi.ts
  src/pages/assessment/[flowId]/dependency.tsx
Due: mypy-staged, check-file-length

fix(assessment): Use request body for dependency update endpoint (fixes 422 error)
  backend/app/api/v1/endpoints/assessment_flow/dependency_endpoints.py
Due: mypy-staged, check-file-length

fix(assessment): Move Dependencies column to position 2 to prevent modal cutoff
  src/components/assessment/DependencyManagementTable.tsx
Due: none

feat(assessment): Add visual dependency graph visualization with React Flow
  src/components/assessment/DependencyGraph.tsx
  src/pages/assessment/[flowId]/dependency.tsx
Due: none

docs: Clarify ADR-025 scope and flow pattern selection guidance
  CLAUDE.md
  docs/adr/025-collection-flow-child-service-migration.md
Due: none

docs: Add comprehensive Service Dependency DAG analysis
  docs/architecture/SERVICE_DEPENDENCY_DAG.md
Due: none

fix(assessment): Fix dependency graph layout and enhance UX
  backend/app/api/v1/endpoints/assessment_flow/dependency_endpoints.py
  backend/app/repositories/dependency_repository/flow_queries.py
  backend/app/repositories/dependency_repository/generic_commands.py
  src/components/assessment/DependencyGraph.tsx
  src/components/assessment/DependencyManagementTable.tsx
  src/components/collection/DataGapDiscovery.tsx
  src/components/discovery/inventory/components/AssetTable/AGGridAssetTable.tsx
  src/components/discovery/inventory/components/AssetTable/DependencyCellRenderer.tsx
  src/main.tsx
  tests/e2e/assessment/dependency-analysis.spec.ts
Due: mypy-staged, check-file-length

docs: Replace Service Dependency DAG with exhaustive verified analysis
  docs/architecture/SERVICE_DEPENDENCY_DAG.md
Due: none

docs: Merge detailed service inventory with verified DAG analysis
  docs/architecture/SERVICE_DEPENDENCY_DAG.md
Due: none

fix: Address Qodo Bot security findings from PR #1029
  backend/app/api/v1/endpoints/assessment_flow/dependency_endpoints.py
  backend/app/repositories/dependency_repository/generic_commands.py
  tests/e2e/assessment/dependency-analysis.spec.ts
Due: mypy-staged, check-file-length

refactor: Address all Qodo Bot PR suggestions (6/7 implemented)
  backend/app/api/v1/endpoints/assessment_flow/dependency_endpoints.py
  backend/app/repositories/assessment_data_repository/dependency_queries.py
  backend/app/repositories/dependency_repository/generic_commands.py
  src/components/assessment/DependencyGraphVisualization.md
  src/components/assessment/DependencyGraphVisualization.tsx
  src/components/assessment/DependencyManagementTable.tsx
  src/components/assessment/__tests__/DependencyGraphVisualization.example.tsx
  src/components/assessment/__tests__/DependencyGraphVisualization.test.tsx
  src/pages/assessment/[flowId]/dependency.tsx
Due: mypy-staged, check-file-length

fix: Resolve Collection Flow critical bugs (#1028, #1027)
  backend/app/api/v1/endpoints/collection_crud_execution/phase_handlers.py
  backend/app/services/collection/gap_analysis/gap_persistence.py
Due: mypy-staged, check-file-length

refactor: Add robust transaction handling for timeout metadata
  backend/app/api/v1/endpoints/collection_crud_execution/phase_handlers.py
Due: mypy-staged, check-file-length

fix: Resolve repository → service layer violations (Phase 1)
  backend/app/api/v1/endpoints/assessment_flow/flow_management/queries.py
  backend/app/api/v1/endpoints/collection_mfo_utils.py
  backend/app/api/v1/master_flows/assessment/lifecycle_endpoints.py
  backend/app/repositories/assessment_data_repository/dependency_queries.py
  backend/app/repositories/assessment_flow_repository/commands/flow_commands/creation.py
  backend/app/repositories/assessment_flow_repository/commands/flow_commands/resumption.py
  backend/app/repositories/collection_flow_repository.py
  backend/app/repositories/discovery_flow_repository/commands/flow_base.py
  backend/app/repositories/discovery_flow_repository/commands/flow_completion.py
  backend/app/services/assessment/__init__.py
  backend/app/services/assessment/assessment_flow_lifecycle_service.py
  backend/app/services/collection_flow/LIFECYCLE_USAGE.md
  backend/app/services/collection_flow/__init__.py
  backend/app/services/collection_flow/lifecycle_service.py
Due: mypy-staged, check-file-length

fix: Break circular dependency MFO ↔ FlowOrchestration (Phase 2)
  .serena/memories/dependency-analysis-qodo-optimization-patterns-2025-01.md
  ARCHITECTURE_FIX_SUMMARY.md
  VALIDATION_REPORT.md
  backend/app/services/discovery_flow_service/core/flow_manager.py
  backend/app/services/discovery_flow_service/core/flow_manager_utils.py
  backend/app/services/flow_contracts/__init__.py
  backend/app/services/flow_contracts/audit/__init__.py
  backend/app/services/flow_contracts/audit/compliance.py
  backend/app/services/flow_contracts/audit/filters.py
  backend/app/services/flow_contracts/audit/logger.py
  backend/app/services/flow_contracts/audit/models.py
  backend/app/services/flow_contracts/interfaces.py
  backend/app/services/flow_contracts/status.py
  backend/app/services/flow_orchestration/__init__.py
  backend/app/services/flow_orchestration/collection_phase_runner.py
  backend/app/services/master_flow_orchestrator/core.py
  backend/app/services/master_flow_orchestrator/flow_operations.py
  backend/app/services/master_flow_orchestrator/monitoring_operations.py
  backend/app/services/master_flow_orchestrator/operations/flow_creation_operations.py
  backend/app/services/master_flow_orchestrator/operations/flow_execution_operations.py
  backend/app/services/master_flow_orchestrator/operations/flow_lifecycle/base_operations.py
  backend/app/services/master_flow_orchestrator/operations/flow_lifecycle_operations.py
  backend/app/services/master_flow_orchestrator/operations/lifecycle_commands.py
  backend/app/services/master_flow_orchestrator/status_operations.py
  docs/architecture/COLLECTION_FLOW_LAYERING_FIX.md
  docs/development/CODING_AGENT_KNOWLEDGE_SUMMARY.md
Due: mypy-staged, check-file-length

fix: Update assessment flow endpoint to use service layer
  backend/app/api/v1/master_flows/assessment/initialize_from_canonical.py
Due: mypy-staged, check-file-length

security: Address Qodo Bot security findings
  .cursorrules
  backend/app/services/assessment/assessment_flow_lifecycle_service.py
  backend/app/services/flow_contracts/audit/logger.py
  backend/app/services/flow_orchestration/collection_phase_runner.py
  docs/development/CC_AGENT_INSTRUCTIONS.md
Due: mypy-staged, check-file-length

fix: Resolve 4 critical UI bugs across Assessment, Discovery, and Collection flows
  src/components/collection/progress/FlowMetricsGrid.tsx
  src/hooks/discovery/useAttributeMappingNavigation.ts
  src/pages/assessment/[flowId]/dependency.tsx
  src/pages/discovery/DataValidation.tsx
Due: none

fix: Resolve 2 additional critical bugs (#997, #1034)
  src/components/collection/forms/AdaptiveFormContainer.tsx
  src/pages/assessment/[flowId]/architecture.tsx
Due: none

refactor: Address Qodo Bot PR review suggestions
  src/components/collection/progress/FlowMetricsGrid.tsx
  src/hooks/discovery/useAttributeMappingNavigation.ts
Due: none

docs: add Marketing & Sales Platform Overview
  docs/Marketing_Sales_Platform_Overview.md
Due: none

Qudomerge updates applied
  backend/app/api/v1/endpoints/data_cleansing/analysis.py
  backend/app/api/v1/endpoints/data_cleansing/resolution_helpers.py
  backend/app/api/v1/endpoints/data_cleansing/resolution_operations.py
  backend/app/api/v1/endpoints/data_cleansing/suggestion_operations.py
  backend/app/models/data_cleansing.py
  src/components/discovery/attribute-mapping/FieldMappingsTab/components/ThreeColumnFieldMapper/BulkActions.tsx
  src/components/discovery/data-cleansing/CleansingRecommendationsPanel.tsx
  src/pages/discovery/DataCleansing.tsx
Due: mypy-staged, check-file-length

Codomerge updates applied
  backend/alembic/versions/127_add_data_cleansing_recommendations_table.py
  backend/app/models/data_cleansing.py
Due: mypy-staged, check-file-length

codemerge updates
  backend/app/api/v1/endpoints/data_cleansing/analysis.py
Due: mypy-staged, check-file-length
