Repository amitcjmu/Stock-Analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-staged, check-file-length

Path conditions:
  mypy-staged: any of: ^backend/.*\.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$

  check-file-length: any of: \.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$


feat: Implement gap value prediction (Phase 3 - Agentic Gap Resolution)
  backend/alembic/versions/132_add_gap_value_prediction_fields.py
  backend/app/api/v1/endpoints/collection_gap_analysis/analysis_endpoints/gap_analysis_handlers.py
  backend/app/services/collection/gap_analysis/service.py
  backend/app/services/collection/gap_analysis/value_prediction_processor.py
  backend/app/services/collection/gap_analysis/value_prediction_task_builder.py
  src/services/api/collection-flow/types.ts
Due: mypy-staged, check-file-length

fix: Get agent from pool for value prediction (fixes NoneType error)
  backend/app/services/collection/gap_analysis/value_prediction_processor.py
Due: mypy-staged, check-file-length

fix: Delete ALL heuristic gaps for AI-analyzed assets (fixes duplicate gaps)
  backend/app/api/v1/endpoints/collection_gap_analysis/analysis_endpoints/background_workers.py
Due: mypy-staged, check-file-length

fix: Display scan time and restructure Gap Analysis Summary to single row
  backend/app/api/v1/endpoints/collection_gap_analysis/scan_endpoints.py
  src/components/collection/DataGapDiscovery.tsx
Due: mypy-staged, check-file-length

feat: Implement missing asset enrichment tables (Issue #980)
  backend/alembic/versions/133_add_missing_asset_enrichment_tables.py
  backend/app/models/__init__.py
  backend/app/models/asset/models.py
  backend/app/models/asset_enrichments.py
  backend/app/repositories/planning_flow_repository/resource_skill_operations.py
  backend/app/services/child_flow_services/collection/phase_handlers/finalization.py
  src/lib/api/apiClient.ts
Due: mypy-staged, check-file-length

fix: Assessment flow UI fixes and retry functionality for failed recommendations
  QA_VALIDATION_REPORT_GAP_DISCOVERY_UI.md
  QA_VALIDATION_REPORT_SQLALCHEMY_FIX.md
  backend/QA_VALIDATION_REPORT_ASSESSMENT_OVERVIEW.md
  backend/alembic/versions/134_add_selected_template_to_assessment_flows.py
  backend/app/api/v1/master_flows/assessment/info_endpoints/commands.py
  backend/app/api/v1/master_flows/assessment/lifecycle_endpoints/data_updates.py
  backend/app/models/assessment_flow/core_models.py
  backend/app/models/asset/assessment_fields.py
  docs/qa/FLOW_ARCHITECTURE_GUIDE.md
  docs/qa/QA_AGENT_INSTRUCTION_TEMPLATE.md
  docs/qa/TEST_SCENARIO_LIBRARY.md
  src/components/assessment/ApplicationSummaryCard.tsx
  src/components/assessment/BusinessImpactAssessment.tsx
  src/components/assessment/SixRDecisionRationale.tsx
  src/components/assessment/TemplateSelector.tsx
  src/hooks/useAssessmentFlow/api.ts
  src/hooks/useAssessmentFlow/types.ts
  src/hooks/useAssessmentFlow/useAssessmentFlow.ts
  src/pages/assessment/AssessmentFlowOverview.tsx
  src/pages/assessment/[flowId]/app-on-page.tsx
  src/pages/assessment/[flowId]/architecture.tsx
  src/pages/assessment/[flowId]/complexity.tsx
  src/pages/assessment/[flowId]/dependency.tsx
  src/pages/assessment/[flowId]/sixr-review.tsx
  src/pages/assessment/[flowId]/tech-debt.tsx
  src/pages/assessment/[flowId]/utils.ts
  src/services/api/masterFlowService.ts
Due: mypy-staged, check-file-length

fix: Address Qodo security and code quality issues
  backend/app/api/v1/master_flows/assessment/info_endpoints/commands.py
  backend/app/api/v1/master_flows/assessment/lifecycle_endpoints/data_updates.py
  src/pages/assessment/[flowId]/architecture.tsx
  src/pages/assessment/[flowId]/dependency.tsx
Due: mypy-staged, check-file-length

CodeRabbit sugsestion updates
  backend/alembic/versions/127_add_data_cleansing_recommendations_table.py
  backend/app/api/v1/endpoints/data_cleansing/analysis.py
Due: mypy-staged, check-file-length

Resolved #1041-#1042-#957-#958
  src/components/FlowCrewAgentMonitor/utils/agentDataProcessor.ts
  src/components/collection/AdaptiveForm.tsx
  src/components/collection/forms/AdaptiveFormContainer.tsx
  src/components/collection/progress/PhaseTimeline.tsx
  src/components/discovery/EnhancedAgentOrchestrationPanel.tsx
  src/components/discovery/application-discovery/ApplicationDiscoveryPanel.tsx
  src/components/discovery/attribute-mapping/CriticalAttributesTab.tsx
  src/components/discovery/attribute-mapping/FieldMappingsTab/components/ThreeColumnFieldMapper/ApprovedCard.tsx
  src/components/discovery/attribute-mapping/FieldMappingsTab/components/ThreeColumnFieldMapper/ThreeColumnFieldMapper.tsx
  src/components/discovery/attribute-mapping/FieldMappingsTab/components/ThreeColumnFieldMapper/mappingUtils.ts
  src/components/discovery/inventory/InventoryStateProvider.tsx
  src/components/discovery/inventory/components/NextStepCard.tsx
  src/components/discovery/inventory/hooks/useCrewAIInsights.ts
  src/components/layout/sidebar/Sidebar.tsx
  src/components/layout/sidebar/SidebarHeader.tsx
  src/components/lazy/routes/LazyRoutes.tsx
  src/config/api.ts
  src/hooks/collection/useProgressMonitoring.ts
  src/pages/Discovery.tsx
  src/pages/Index.tsx
  src/pages/Login.tsx
  src/pages/admin/AdminDashboard.tsx
  src/pages/admin/CreateUser.tsx
  src/pages/collection/DataIntegration.tsx
  src/pages/collection/Index.tsx
  src/pages/collection/adaptive-forms/components/CompletionDisplay.tsx
  src/pages/collection/adaptive-forms/components/ErrorDisplay.tsx
  src/pages/collection/adaptive-forms/components/FlowBlocker.tsx
  src/pages/collection/adaptive-forms/components/FlowBlockerDisplay.tsx
  src/pages/collection/adaptive-forms/components/FormCompletionView.tsx
  src/pages/collection/adaptive-forms/components/FormLoadingStates.tsx
  src/pages/collection/adaptive-forms/components/LoadingStateDisplay.tsx
  src/pages/collection/adaptive-forms/index.tsx
  src/pages/discovery/CMDBImport/utils/uploadCategories.ts
  src/pages/discovery/DiscoveryDashboard.tsx
  src/pages/discovery/Index.tsx
  src/pages/discovery/components/CMDBImport/AgentOrchestrationPanel/hooks.tsx
  src/pages/discovery/components/EnhancedAgentOrchestrationPanel/constants.tsx
Due: none

updated qudomerge suggestions
  src/components/discovery/attribute-mapping/CriticalAttributesTab.tsx
  src/components/discovery/attribute-mapping/FieldMappingsTab/components/ThreeColumnFieldMapper/ApprovedCard.tsx
  src/components/discovery/attribute-mapping/FieldMappingsTab/components/ThreeColumnFieldMapper/ThreeColumnFieldMapper.tsx
  src/components/discovery/attribute-mapping/FieldMappingsTab/components/ThreeColumnFieldMapper/mappingUtils.ts
Due: none

fix: Add null checks to prevent React errors on Roadmap page
  src/pages/assess/Roadmap.tsx
Due: none

fix: Transform backend roadmap API response to match frontend expectations
  src/hooks/useRoadmap.ts
Due: none

feat: Sync wave plan data to timeline tables for Roadmap display
  backend/app/api/v1/master_flows/planning/update.py
Due: mypy-staged, check-file-length

fix: Handle timezone-aware datetime comparison in wave sync
  backend/app/api/v1/master_flows/planning/update.py
Due: mypy-staged, check-file-length

feat: Add context breadcrumbs to Roadmap page
  src/pages/assess/Roadmap.tsx
Due: none

fix: Preserve wave dates when editing existing waves
  backend/app/api/v1/endpoints/assessment_flow_processors/continuation.py
  src/components/plan/WaveModal.tsx
Due: mypy-staged, check-file-length

fix: Add unique IDs to planning wizard checkboxes for better event handling
  src/components/plan/PlanningInitializationWizard.tsx
Due: none

fix: Correct navigation from Assessment Summary to Plan page
  src/pages/assessment/[flowId]/summary.tsx
Due: none

fix: Correct /planning route to /plan in AssessmentFlowLayout
  backend/app/repositories/assessment_flow_repository/commands/decision_commands.py
  backend/app/services/flow_orchestration/execution_engine_crew_assessment/recommendation_executor.py
  src/components/assessment/AssessmentFlowLayout.tsx
Due: mypy-staged, check-file-length

fix: Fix checkbox selection in Planning Wizard modal
  src/components/plan/PlanningInitializationWizard.tsx
Due: none

fix: Correct assessment flow finalization workflow
  backend/app/api/v1/endpoints/assessment_flow_processors/continuation.py
  src/hooks/useAssessmentFlow/api.ts
  src/hooks/useAssessmentFlow/useAssessmentFlow.ts
Due: mypy-staged, check-file-length

fix: Use React Portal for dependency modal to prevent clipping
  src/components/discovery/inventory/components/AssetTable/DependencyCellEditor.tsx
Due: none

fix: Auto-start collection flow when navigated from assessment readiness
  src/pages/collection/Index.tsx
Due: none

fix: Use ensureFlow API for assessment-to-collection transition
  QA_VALIDATION_REPORT_ASSESSMENT_TO_COLLECTION_FLOW.md
  src/components/assessment/StartAssessmentModal.tsx
Due: none

fix(assessment): Bug #1066 - Fix questionnaire generation by fetching specific gap fields
  src/components/assessment/StartAssessmentModal.tsx
Due: none

fix(assessment): Enable gap-based collection from "New Assessment" modal (Bug #1066)
  backend/app/api/v1/canonical_applications/router/__init__.py
  backend/app/api/v1/canonical_applications/router/endpoints.py
  backend/app/api/v1/canonical_applications/router/readiness_gaps.py
  src/components/assessment/StartAssessmentModal.tsx
Due: mypy-staged, check-file-length

feat: Add 'Refresh Readiness' button to StartAssessmentModal
  src/components/assessment/StartAssessmentModal.tsx
Due: none

fix: Persist readiness refresh results to database
  backend/app/api/v1/canonical_applications/router/readiness_gaps.py
  src/components/assessment/StartAssessmentModal.tsx
Due: mypy-staged, check-file-length

fix: Correct import paths in readiness_gaps.py
  backend/app/api/v1/canonical_applications/router/readiness_gaps.py
Due: mypy-staged, check-file-length

fix: Force fresh data fetch when modal reopens after readiness refresh
  src/components/assessment/StartAssessmentModal.tsx
Due: none

fix: Enable SQLAlchemy session refresh to prevent stale cache
  backend/app/core/database.py
Due: mypy-staged, check-file-length

docs: Move ISSUE_1067 to docs/analysis/issues/
  docs/analysis/issues/ISSUE_1067_QUESTIONNAIRE_GENERATION_FIXES.md
Due: none

refactor: Deprecate Path 3 questionnaire generation and complete ADR-015 compliance
  .serena/memories/assessment_flow_two_phase_completion_pattern.md
  .serena/memories/frontend_request_body_population_user_actions.md
  .serena/memories/legacy_table_references_jsonb_migration.md
  .serena/memories/llm_json_parsing_markdown_wrapper_stripping.md
  .serena/memories/uuid_double_wrapping_anti_pattern_2025_11.md
  backend/app/api/v1/canonical_applications/router/queries.py
  backend/app/api/v1/canonical_applications/router/readiness_gaps.py
  backend/app/api/v1/endpoints/collection_agent_questionnaires/__init__.py
  backend/app/api/v1/endpoints/collection_agent_questionnaires/generation.py
  backend/app/api/v1/endpoints/collection_agent_questionnaires/router.py
  backend/app/api/v1/endpoints/collection_applications/handlers.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires/_generate_per_section.py
  backend/app/api/v1/endpoints/collection_gap_analysis/analysis_endpoints/background_workers.py
  backend/app/api/v1/endpoints/collection_mfo_utils.py
  backend/app/core/database.py
  backend/app/services/child_flow_services/collection/service.py
  backend/app/services/flow_orchestration/execution_engine_crew_collection.py
  src/components/collection/DataGapDiscovery.tsx
  test_gap_analysis.py
  test_gap_analysis_e2e.py
Due: mypy-staged, check-file-length

docs: Organize non-markdown files from root into subdirectories
  backend/scripts/sql/README.md
  backend/scripts/sql/create_test_data.sql
  backend/scripts/sql/create_test_data_v2.sql
  docs/NON_MARKDOWN_CLEANUP_REPORT.md
  scripts/monitor_ai_enhancement.sh
  scripts/regenerate_questionnaire.sh
  scripts/test_unmapped_assets.sh
  scripts/test_unmapped_assets_demo.sh
  scripts/testing/README.md
  scripts/testing/test_asset_inventory.py
  scripts/testing/test_asset_writeback.py
  scripts/testing/test_existing_data.py
  scripts/testing/test_gap_analysis.py
  scripts/testing/test_gap_analysis_e2e.py
  scripts/testing/test_recovery_999.py
  scripts/update_console_logging.sh
  scripts/verify_mcq_questionnaire.sh
  scripts/verify_test_results.sh
  tests/fixtures/test-assets-e2e.csv
  tests/fixtures/test-cmdb-data-v2.csv
  tests/fixtures/test-invalid-cmdb-data.csv
  tests/fixtures/test_assets_40.csv
  tests/fixtures/test_bug_521_diverse_criticality.csv
  tests/qa/scripts/README.md
  tests/qa/scripts/qa-verification-script.js
  tests/qa/scripts/qa-verify-no-active-flow.js
Due: check-file-length

fix: Implement MFO Two-Table Flow ID pattern for collection flows (Issue #1067)
  backend/app/services/collection/gap_analysis/comprehensive_task_builder.py
  backend/app/services/flow_orchestration/execution_engine_crew_collection.py
  backend/app/services/flow_orchestration/execution_engine_crew_collection/__init__.py
  backend/app/services/flow_orchestration/execution_engine_crew_collection/base.py
  backend/app/services/flow_orchestration/execution_engine_crew_collection/phase_handlers.py
  backend/app/services/flow_orchestration/execution_engine_crew_collection/utils.py
Due: mypy-staged, check-file-length

Review - Data Cleansing Recommendations
  backend/alembic/versions/127_add_data_cleansing_recommendations_table.py
  backend/app/api/v1/endpoints/data_cleansing/analysis.py
  backend/app/api/v1/endpoints/data_cleansing/operations.py
  src/pages/discovery/DataCleansing.tsx
Due: mypy-staged, check-file-length

revert flow name change request
  src/components/FlowCrewAgentMonitor/utils/agentDataProcessor.ts
  src/components/collection/AdaptiveForm.tsx
  src/components/collection/forms/AdaptiveFormContainer.tsx
  src/components/collection/progress/PhaseTimeline.tsx
  src/components/discovery/EnhancedAgentOrchestrationPanel.tsx
  src/components/discovery/application-discovery/ApplicationDiscoveryPanel.tsx
  src/components/discovery/inventory/InventoryStateProvider.tsx
  src/components/discovery/inventory/components/NextStepCard.tsx
  src/components/discovery/inventory/hooks/useCrewAIInsights.ts
  src/components/layout/sidebar/Sidebar.tsx
  src/components/lazy/routes/LazyRoutes.tsx
  src/hooks/collection/useProgressMonitoring.ts
  src/pages/Discovery.tsx
  src/pages/Index.tsx
  src/pages/admin/AdminDashboard.tsx
  src/pages/collection/DataIntegration.tsx
  src/pages/collection/Index.tsx
  src/pages/collection/adaptive-forms/components/CompletionDisplay.tsx
  src/pages/collection/adaptive-forms/components/ErrorDisplay.tsx
  src/pages/collection/adaptive-forms/components/FlowBlocker.tsx
  src/pages/collection/adaptive-forms/components/FlowBlockerDisplay.tsx
  src/pages/collection/adaptive-forms/components/FormCompletionView.tsx
  src/pages/collection/adaptive-forms/components/FormLoadingStates.tsx
  src/pages/collection/adaptive-forms/components/LoadingStateDisplay.tsx
  src/pages/collection/adaptive-forms/index.tsx
  src/pages/discovery/CMDBImport/utils/uploadCategories.ts
  src/pages/discovery/DiscoveryDashboard.tsx
  src/pages/discovery/Index.tsx
  src/pages/discovery/components/CMDBImport/AgentOrchestrationPanel/hooks.tsx
  src/pages/discovery/components/EnhancedAgentOrchestrationPanel/constants.tsx
Due: none
