Repository amitcjmu/Stock-Analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-staged, check-file-length

mypy-staged:
  name: mypy type checking (staged files only)
  entry: sh -c 'files=$(git diff --staged --name-only --diff-filter=AM | grep "^backend/.*\.py$"); [ -n "$files" ] && echo "$files" | xargs mypy --ignore-missing-imports --no-strict-optional || true'
  language: system
  pass_filenames: false

check-file-length:
  name: Check Python file length (max 400 lines)
  entry: /opt/homebrew/bin/python3.11 scripts/check-file-length.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: Address qodo-merge-pro code review feedback
  backend/app/utils/flow_constants/thresholds.py
  src/hooks/discovery/attribute-mapping/useAttributeMappingActions.ts
Due: mypy-staged, check-file-length

fix: Copy data_import_id from discovery_flows to flow state (#521, #522)
  backend/app/services/crewai_flows/flow_state_bridge.py
Due: mypy-staged, check-file-length

fix: Resolve asset inventory creation issues in discovery flow
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor.py
  backend/app/services/flow_orchestration/execution_engine_crew_discovery/phase_executors.py
Due: mypy-staged, check-file-length

fix: Resolve discovery flow blocking issues (timeout + duplicate detection)
  .serena/memories/asset_inventory_executor_architecture_oct2025.md
  .serena/memories/common_pitfalls_transaction_management.md
  .serena/memories/data_import_id_vs_master_flow_id_usage.md
  .serena/memories/e2e_testing_discovery_flow_methodology.md
  .serena/memories/phase_executor_coding_patterns.md
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor.py
  backend/data/agent_insights.json
  src/services/api/masterFlowService.ts
  test-assets-e2e.csv
Due: mypy-staged, check-file-length

fix: Apply approved field mappings during asset creation (Bug #521)
  .serena/memories/asset_inventory_executor_architecture_oct2025.md
  .serena/memories/e2e_testing_discovery_flow_methodology.md
  .serena/memories/phase_executor_coding_patterns.md
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor.py
  backend/data/agent_insights.json
  test_bug_521_diverse_criticality.csv
Due: mypy-staged, check-file-length

fix: Resolve Railway deployment errors and modularize asset_inventory_executor
  backend/alembic/versions/077_update_collection_flow_enum.py
  backend/app/core/redis_config.py
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor.py.bak
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/README.md
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/__init__.py
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/base.py
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/commands.py
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/queries.py
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/transforms.py
Due: mypy-staged, check-file-length

fix: Complete field mapping pipeline and dashboard metrics
  backend/app/services/asset_service.py
  backend/app/services/crewai_flows/tools/asset_creation_tool.py
  backend/app/services/crewai_flows/unified_discovery_flow/__init__.py
  backend/app/services/flow_orchestration/execution_engine_crew_discovery/data_normalization.py
  backend/app/services/flow_orchestration/execution_engine_crew_discovery/database_queries.py
  backend/app/services/unified_discovery_handlers/asset_list_handler.py
  backend/docs/fixes/Discovery_flow_demo_readiness.md
  backend/docs/fixes/FIELD_MAPPING_DEBUGGING_ANALYSIS.md
  backend/scripts/discovery/debug_field_mappings.py
  backend/scripts/discovery/fix_asset_creation.py
  backend/scripts/discovery/test_field_mappings.py
  src/pages/Discovery.tsx
Due: mypy-staged, check-file-length

fix: Address qodo-merge-pro review feedback
  backend/scripts/discovery/debug_field_mappings.py
  backend/scripts/discovery/fix_asset_creation.py
  backend/scripts/discovery/test_field_mappings.py
Due: mypy-staged, check-file-length

fix: Normalize CSV field names to snake_case in data cleansing phase
  backend/app/services/crewai_flows/handlers/phase_executors/data_cleansing/agent_processor.py
  backend/app/services/crewai_flows/handlers/phase_executors/data_cleansing/base.py
  backend/app/services/crewai_flows/handlers/phase_executors/data_cleansing_utils.py
Due: mypy-staged, check-file-length

fix: Apply approved field mappings in data cleansing phase (#521, #522)
  backend/app/services/crewai_flows/handlers/phase_executors/data_cleansing/agent_processor.py
  backend/app/services/crewai_flows/handlers/phase_executors/data_cleansing/base.py
  backend/app/services/crewai_flows/handlers/phase_executors/data_cleansing/executor.py
  backend/app/services/persistent_agents/config/agent_wrapper.py
  backend/test_asset_recreation.py
  docs/e2e-flows/01_Discovery/04_Data_Cleansing_ANALYSIS.md
  docs/e2e-flows/01_Discovery/04_Data_Cleansing_UPDATED_ANALYSIS.md
Due: mypy-staged, check-file-length

fix: Address all qodo-merge-pro review feedback
  backend/app/services/flow_orchestration/execution_engine_crew_discovery/data_normalization.py
  backend/app/services/flow_orchestration/execution_engine_crew_discovery/database_queries.py
  backend/app/services/unified_discovery_handlers/asset_list_handler.py
Due: mypy-staged, check-file-length

perf: Skip redundant asset creation call when duplicate exists
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/base.py
Due: mypy-staged, check-file-length

feat: Implement unified asset deduplication architecture (Qodo PR #531 Suggestions)
  backend/app/services/asset_creation_bridge_service.py
  backend/app/services/asset_service.py
  backend/app/services/asset_service/__init__.py
  backend/app/services/asset_service/base.py
  backend/app/services/asset_service/deduplication.py
  backend/app/services/asset_service/helpers.py
  backend/app/services/asset_service/operations.py
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/base.py
  backend/app/services/crewai_flows/tools/asset_creation_tool.py
Due: mypy-staged, check-file-length

perf: Add batch prefetch optimization and composite indexes for asset deduplication
  backend/alembic/versions/088_add_asset_dedup_composite_indexes.py
  backend/app/services/asset_service/__init__.py
  backend/app/services/asset_service/deduplication.py
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/base.py
Due: mypy-staged, check-file-length

test: Add comprehensive tests for unified asset deduplication
  tests/backend/services/test_asset_service_deduplication.py
Due: check-file-length

fix: Preserve placeholder dashboard metrics for empty state UX
  src/pages/Discovery.tsx
Due: none

fix: Complete discovery flow after asset_inventory phase
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/base.py
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/commands.py
  backend/app/services/flow_configs/discovery_handlers.py
  backend/app/services/flow_configs/discovery_handlers/__init__.py
  backend/app/services/flow_configs/discovery_handlers/asset_handlers.py
  backend/app/services/flow_configs/discovery_handlers/data_import.py
  backend/app/services/flow_configs/discovery_handlers/helpers.py
  backend/app/services/flow_configs/discovery_handlers/lifecycle.py
  test_bug_521_diverse_criticality.csv
Due: mypy-staged, check-file-length

fix: Resolve Qodo code review issues for discovery flow completion
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/base.py
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/commands.py
  backend/app/services/flow_configs/discovery_handlers/asset_handlers.py
Due: mypy-staged, check-file-length

refactor: Modularize collection-flow.ts into composition pattern (1,123 → 1,496 LOC)
  src/services/api/collection-flow/client.ts
  src/services/api/collection-flow/flows.ts
  src/services/api/collection-flow/index.ts
  src/services/api/collection-flow/questionnaires.ts
  src/services/api/collection-flow/submissions.ts
  src/services/api/collection-flow/types.ts
  src/services/api/collection-flow/validation.ts
Due: none

refactor: Modularize AdaptiveForms.tsx component (1,212 → 1,036 LOC main + modules)
  src/pages/collection/adaptive-forms/components/AssetNavigationButtons.tsx
  src/pages/collection/adaptive-forms/components/FlowControlPanel.tsx
  src/pages/collection/adaptive-forms/components/QuestionnaireDisplay.tsx
  src/pages/collection/adaptive-forms/components/index.ts
  src/pages/collection/adaptive-forms/hooks/index.ts
  src/pages/collection/adaptive-forms/hooks/useFlowNavigation.ts
  src/pages/collection/adaptive-forms/hooks/useProgressCalculation.ts
  src/pages/collection/adaptive-forms/index.tsx
  src/pages/collection/adaptive-forms/types.ts
Due: none

refactor: Modularize InventoryContent.tsx (1,055 → 7 focused modules)
  src/components/discovery/inventory/InventoryContent.tsx
  src/components/discovery/inventory/content/ErrorBanners.tsx
  src/components/discovery/inventory/content/InventoryActions.tsx
  src/components/discovery/inventory/content/InventoryStates.tsx
  src/components/discovery/inventory/content/MODULARIZATION_SUMMARY.md
  src/components/discovery/inventory/content/ViewModeToggle.tsx
  src/components/discovery/inventory/content/hooks/useAutoExecution.ts
  src/components/discovery/inventory/content/hooks/useInventoryData.ts
  src/components/discovery/inventory/content/index.tsx
Due: none

refactor: Create modular hooks from useAdaptiveFormFlow.ts (1,869 LOC)
  src/hooks/collection/adaptive-form/README.md
  src/hooks/collection/adaptive-form/index.ts
  src/hooks/collection/adaptive-form/types.ts
  src/hooks/collection/adaptive-form/useAutoInit.ts
  src/hooks/collection/adaptive-form/useFormState.ts
  src/hooks/collection/adaptive-form/useQuestionnaireHandlers.ts
  src/hooks/collection/adaptive-form/useSubmitHandler.ts
Due: none

fix: Resolve all ESLint errors and improve type safety (77 → 0 errors)
  .serena/memories/unified_asset_deduplication_architecture_oct2025.md
  backend/app/services/flow_configs/discovery_handlers.py.backup
  src/components/collection/AssetSelectionForm.tsx
  src/hooks/discovery/attribute-mapping/canContinueToDataCleansing.test.ts
  src/hooks/discovery/useDataCleansingQueries.ts
  src/hooks/discovery/useDiscoveryFlow.ts
  src/hooks/useAssessmentFlow/useAssessmentFlow.ts
  src/hooks/useFlowDeletion.ts
  src/pages/CollectionFlowManagementPage.tsx
  src/pages/Discovery.tsx
  src/pages/assessment/AssessmentFlowOverview.tsx
  src/pages/assessment/InitializeFlowWithInventory.tsx
  src/pages/collection/EnhancedApplicationSelection.tsx
  src/pages/collection/Progress.tsx
  src/pages/planning/SixRAnalysis.tsx
  src/types/shared/metadata-types.ts
  src/utils/collection/formDataTransformation.ts
  src/utils/questionnaireUtils.ts
  tests/e2e/collection/two-phase-gap-analysis.spec.ts
Due: none

fix: Address all Qodobot code review suggestions for PR #542
  src/components/collection/AssetSelectionForm.tsx
  src/components/discovery/inventory/content/InventoryActions.tsx
  src/components/discovery/inventory/content/InventoryStates.tsx
  src/components/discovery/inventory/content/hooks/useInventoryData.ts
  src/hooks/collection/adaptive-form/useSubmitHandler.ts
  src/hooks/collection/useAdaptiveFormFlow.ts
  src/pages/collection/adaptive-forms/hooks/useFlowNavigation.ts
  src/pages/collection/adaptive-forms/index.tsx
Due: none

fix: Remove unnecessary type assertions in useApplicationData
  src/pages/collection/ApplicationSelection/hooks/useApplicationData.ts
Due: none

fix: Add eslint-disable for setState dependency warnings in modularized hooks
  src/hooks/collection/adaptive-form/useAutoInit.ts
  src/hooks/collection/adaptive-form/useValidation.ts
Due: none

fix: Add eslint-disable for setState warnings in remaining modularized hooks
  src/hooks/collection/adaptive-form/useQuestionnaireHandlers.ts
  src/hooks/collection/adaptive-form/useSubmitHandler.ts
  src/hooks/collection/useAdaptiveFormFlow.ts
Due: none

fix: Complete linting fixes for 4-file modularization
  src/hooks/collection/adaptive-form/useQuestionnaireHandlers.ts
Due: none

refactor: Remove redundant Array.isArray check in useApplicationData
  src/pages/collection/ApplicationSelection/hooks/useApplicationData.ts
Due: none

refactor: Replace eslint-disable comments with proper setState dependencies
  src/hooks/collection/adaptive-form/useAutoInit.ts
  src/hooks/collection/adaptive-form/useQuestionnaireHandlers.ts
  src/hooks/collection/adaptive-form/useSubmitHandler.ts
  src/hooks/collection/adaptive-form/useValidation.ts
  src/hooks/collection/useAdaptiveFormFlow.ts
Due: none

fix: Collection flow UX improvements and modularization fixes
  config/tools/eslint.config.js
  src/components/collection/AdaptiveForm.tsx
  src/components/lazy/routes/LazyRoutes.tsx
  src/components/ui/dialog.tsx
  src/pages/collection/adaptive-forms/index.tsx
Due: none

fix: Add default_client_id and default_engagement_id to active users API response
  backend/app/services/auth_services/admin_operations_service.py
Due: mypy-staged, check-file-length

feat: Add comprehensive user access management modal
  .serena/memories/qodo_bot_code_review_resolution_patterns_2025_10.md
  backend/app/api/v1/endpoints/admin_user_access.py
  backend/app/api/v1/router_imports.py
  backend/app/api/v1/router_registry.py
  src/components/admin/user-approvals/UserAccessModal.tsx
  src/components/admin/user-approvals/UserApprovalsMain.tsx
Due: mypy-staged, check-file-length

feat: Display real admin activities from audit log
  backend/app/api/v1/endpoints/admin_user_access.py
  src/pages/admin/components/RecentActivity.tsx
Due: mypy-staged, check-file-length

fix: Address all Qodo Merge Pro bot security and code quality issues
  backend/app/api/v1/endpoints/admin_user_access.py
  backend/app/api/v1/endpoints/admin_user_access/__init__.py
  backend/app/api/v1/endpoints/admin_user_access/commands.py
  backend/app/api/v1/endpoints/admin_user_access/models.py
  backend/app/api/v1/endpoints/admin_user_access/queries.py
  backend/app/api/v1/endpoints/admin_user_access/validators.py
  src/components/admin/user-approvals/UserAccessModal.tsx
  src/pages/admin/components/RecentActivity.tsx
Due: mypy-staged, check-file-length

refactor: Remove legacy collection-flow.ts file after modularization
  src/services/api/collection-flow.ts
Due: none

fix: Address qodo-merge-pro review comments (#545)
  .pre-commit-config.yaml
  backend/app/api/v1/endpoints/data_import/field_mapping/services/mapping_crud.py
  backend/app/api/v1/endpoints/data_import/field_mapping/services/mapping_retrieval.py
  backend/app/api/v1/endpoints/data_import/field_mapping/services/mapping_service.py
  backend/app/models/data_import/mapping.py
  backend/app/services/crewai_flows/handlers/crew_execution/integration.py
  backend/app/services/crewai_flows/handlers/phase_executors/asset_inventory_executor/base.py
  backend/app/services/data_import/storage_manager/mapping_operations.py
  backend/app/services/flow_orchestration/execution_engine_crew_discovery/database_queries.py
  backend/test_engagement_id_fix.sql
  backend/test_field_mapping_engagement_id.py
Due: mypy-staged, check-file-length

feat: Modularize 3 large frontend files for improved maintainability
  src/pages/assessment/collection-gaps/governance.tsx
  src/pages/assessment/collection-gaps/governance/components/ApprovalDialog.tsx
  src/pages/assessment/collection-gaps/governance/components/ApprovalRequestsTable.tsx
  src/pages/assessment/collection-gaps/governance/components/ExceptionDialog.tsx
  src/pages/assessment/collection-gaps/governance/components/ExceptionsTable.tsx
  src/pages/assessment/collection-gaps/governance/components/GovernanceHeader.tsx
  src/pages/assessment/collection-gaps/governance/components/RequirementsTable.tsx
  src/pages/assessment/collection-gaps/governance/hooks/useApprovalForm.ts
  src/pages/assessment/collection-gaps/governance/hooks/useExceptionForm.ts
  src/pages/assessment/collection-gaps/governance/hooks/useGovernanceData.ts
  src/pages/assessment/collection-gaps/governance/index.tsx
  src/pages/assessment/collection-gaps/governance/types.ts
  src/pages/assessment/collection-gaps/governance/utils/statusHelpers.ts
  src/pages/assessment/collection-gaps/governance/utils/validationHelpers.ts
  src/pages/collection/adaptive-forms/components/AssetNavigationBar.tsx
  src/pages/collection/adaptive-forms/components/AssetSelector.tsx
  src/pages/collection/adaptive-forms/components/ErrorDisplay.tsx
  src/pages/collection/adaptive-forms/components/FlowBlocker.tsx
  src/pages/collection/adaptive-forms/components/FormCompletionView.tsx
  src/pages/collection/adaptive-forms/components/FormLoadingStates.tsx
  src/pages/collection/adaptive-forms/hooks/useAssetNavigation.ts
  src/pages/collection/adaptive-forms/hooks/useFlowLifecycle.ts
  src/pages/collection/adaptive-forms/hooks/useFormOrchestration.ts
  src/pages/collection/adaptive-forms/hooks/useModalState.ts
  src/pages/collection/adaptive-forms/utils/assetGroupingHelpers.ts
  src/pages/collection/adaptive-forms/utils/flowStateHelpers.ts
  src/types/api/finops/flow-management.ts
  src/types/api/finops/flow-management/api-types.ts
  src/types/api/finops/flow-management/budget-types.ts
  src/types/api/finops/flow-management/configuration-types.ts
  src/types/api/finops/flow-management/cost-types.ts
  src/types/api/finops/flow-management/flow-core-types.ts
  src/types/api/finops/flow-management/governance-types.ts
  src/types/api/finops/flow-management/index.ts
  src/types/api/finops/flow-management/optimization-types.ts
  src/types/api/finops/flow-management/supporting-types.ts
Due: none

fix: Update governance page lazy import to reference modularized directory
  src/App.tsx
Due: none

Path conditions:
  mypy-staged: any of: ^backend/.*\.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$

  check-file-length: any of: \.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$

