Repository amitcjmu/Stock-Analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-staged, check-file-length

Path conditions:
  mypy-staged: any of: ^backend/.*\.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$

  check-file-length: any of: \.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$


refactor: Remove unused MFO helper functions after gap analysis fix
  backend/app/api/v1/endpoints/collection_applications/phase_transition.py
Due: mypy-staged, check-file-length

fix: Include public schema in search_path for pgvector type resolution
  backend/app/core/database.py
Due: mypy-staged, check-file-length

fix: Correct import path for CollectionDataGap model
  backend/app/api/v1/endpoints/collection_crud_execution/phase_handlers.py
Due: mypy-staged, check-file-length

Fix discovery flow status display issues (Bugs #557, #560, #578, #579)
  backend/app/api/v1/endpoints/flow_processing/commands.py
  backend/app/api/v1/endpoints/flow_processing/queries.py
  backend/app/api/v1/endpoints/flow_processing_converters.py
  backend/app/api/v1/endpoints/unified_discovery/flow_status_handlers.py
  backend/app/services/crewai_flows/handlers/phase_executors/data_import_validation/executor.py
  backend/app/services/discovery/flow_status/operations.py
  backend/app/services/discovery/phase_persistence_helpers/base.py
  backend/docs/fixes/DISCOVERY_FLOW_STATUS_FIXES.md
Due: mypy-staged, check-file-length

fix: Bug #557 - Apply phase completion fix to fast path
  backend/app/api/v1/endpoints/flow_processing_converters.py
Due: mypy-staged, check-file-length

fix: Bug #557 - Phase name mapping mismatch (CRITICAL)
  backend/app/api/v1/endpoints/flow_processing_converters.py
  backend/app/services/discovery/phase_persistence_helpers/base.py
Due: mypy-staged, check-file-length

fix: Bug #557 - Convert minimal_result dict to object with attributes
  backend/app/api/v1/endpoints/flow_processing_converters.py
Due: mypy-staged, check-file-length

fix: Bug #557 - Add missing next_actions attribute to SimpleNamespace
  backend/app/api/v1/endpoints/flow_processing_converters.py
Due: mypy-staged, check-file-length

fix: Expand resolution_status validator to accept all valid statuses
  backend/app/api/v1/endpoints/collection_gap_analysis/update_endpoints.py
  backend/app/app_setup/application.py
  backend/app/schemas/collection_gap_analysis.py
  src/components/collection/DataGapDiscovery.tsx
Due: mypy-staged, check-file-length

fix: Use correct flow ID from continue response for questionnaire navigation
  src/components/collection/DataGapDiscovery.tsx
  src/hooks/collection/useCollectionFlowManagement.ts
  src/pages/collection/GapAnalysis.tsx
Due: none

fix: Return collection flow ID (not master flow ID) for gap analysis navigation
  backend/app/api/v1/endpoints/collection_applications/phase_transition.py
  src/pages/collection/ApplicationSelection/index.tsx
Due: mypy-staged, check-file-length

fix: Revert incorrect flow ID changes and add diagnostic logging
  .gitignore
  backend/app/api/v1/endpoints/collection_applications/phase_transition.py
  src/pages/collection/ApplicationSelection/index.tsx
Due: mypy-staged, check-file-length

fix: Resolve race condition in gap scan by refetching from database
  src/components/collection/DataGapDiscovery.tsx
Due: none

fix: Reduce questionnaire polling interval from 30s to 5s
  src/hooks/collection/useQuestionnairePolling.ts
Due: none

fix: Display actual asset names in questionnaire questions instead of UUID prefixes
  backend/app/api/v1/endpoints/collection_crud_questionnaires/agents.py
  backend/app/services/ai_analysis/questionnaire_generator/tools/generation.py
Due: mypy-staged, check-file-length

fix: Remove db_session parameter from QuestionnaireGenerationTool to fix Pydantic validation
  backend/app/services/ai_analysis/questionnaire_generator/tools/generation.py
Due: mypy-staged, check-file-length

docs: Add discovery flow early completion analysis for future implementation
  docs/features/discovery-flow-early-completion-analysis.md
Due: none

fix: Address PR review comments - code quality improvements
  backend/app/api/v1/endpoints/flow_processing_converters.py
  backend/app/services/crewai_flows/handlers/phase_executors/data_import_validation/executor.py
  backend/app/services/discovery/flow_status/operations.py
Due: mypy-staged, check-file-length

docs: Create central Code Review Comments Repository
  docs/code-reviews/review-comments-repository.md
Due: none

fix: Resolve questionnaire generation failures and asset name display issues
  backend/app/api/v1/endpoints/collection_crud_questionnaires/commands.py
  src/components/collection/AdaptiveForm.tsx
  src/components/collection/types.ts
  src/utils/collection/formDataTransformation.ts
Due: mypy-staged, check-file-length

feat: Add Universal FlowTypeConfig Migration foundation
  .serena/memories/collection_flow_asset_name_display_fix_2025_10.md
  .serena/memories/react_async_state_sync_patterns_2025_10.md
  backend/app/services/flow_type_registry_helpers.py
  docs/adr/027-universal-flow-type-config-pattern.md
  docs/implementation/universal-flow-config-migration-plan.md
Due: mypy-staged, check-file-length

docs: Add AI collaboration discussion content for team engagement
  docs/discussions/ai-collaboration-what-makes-humans-irreplaceable.md
Due: none

docs: Remove AI discussion file - content already posted as PR comment #3403214260
  docs/discussions/ai-collaboration-what-makes-humans-irreplaceable.md
Due: none

feat: Add Discovery FlowTypeConfig phase definitions
  backend/app/services/flow_configs/discovery_flow_config.py
  backend/app/services/flow_configs/discovery_phases/__init__.py
  backend/app/services/flow_configs/discovery_phases/asset_inventory_phase.py
  backend/app/services/flow_configs/discovery_phases/data_cleansing_phase.py
  backend/app/services/flow_configs/discovery_phases/data_import_phase.py
  backend/app/services/flow_configs/discovery_phases/data_validation_phase.py
  backend/app/services/flow_configs/discovery_phases/field_mapping_phase.py
Due: mypy-staged, check-file-length

feat: Add phase alias system for backward compatibility
  backend/app/services/discovery/flow_execution_service.py
  backend/app/services/flow_configs/phase_aliases.py
Due: mypy-staged, check-file-length

feat: Migrate dependency & tech debt phases to Assessment flow
  backend/app/services/flow_configs/assessment_flow_config.py
  backend/app/services/flow_configs/assessment_phases/__init__.py
  backend/app/services/flow_configs/assessment_phases/complexity_analysis_phase.py
  backend/app/services/flow_configs/assessment_phases/dependency_analysis_phase.py
  backend/app/services/flow_configs/assessment_phases/readiness_assessment_phase.py
  backend/app/services/flow_configs/assessment_phases/recommendation_generation_phase.py
  backend/app/services/flow_configs/assessment_phases/risk_assessment_phase.py
  backend/app/services/flow_configs/assessment_phases/tech_debt_assessment_phase.py
Due: mypy-staged, check-file-length

feat: Deprecate PHASE_SEQUENCES and migrate to FlowTypeConfig
  backend/app/utils/flow_constants/flow_states.py
Due: mypy-staged, check-file-length

feat: Add flow metadata API endpoint per ADR-027
  backend/app/api/v1/endpoints/flow_metadata.py
  backend/app/api/v1/router_registry.py
Due: mypy-staged, check-file-length

feat: Enhance DiscoveryChildFlowService with FlowTypeConfig integration (ADR-027 Phase 5)
  backend/app/app_setup/lifecycle.py
  backend/app/services/child_flow_services/discovery.py
Due: mypy-staged, check-file-length

feat: Add database migration for phase deprecation comments (ADR-027 Phase 8)
  backend/alembic/versions/10ae8e355c48_add_phase_deprecation_comments_adr027.py
Due: mypy-staged, check-file-length

feat: Add feature flags for FlowTypeConfig pattern (ADR-027 Phase 9)
  backend/app/core/config.py
Due: mypy-staged, check-file-length

test: Add comprehensive test suite for FlowTypeConfig pattern (ADR-027 Phase 10)
  tests/backend/test_flow_type_config_adr027.py
Due: check-file-length

fix: Correct migration file naming to use 3-digit prefix (091)
  backend/alembic/versions/091_add_phase_deprecation_comments_adr027.py
Due: mypy-staged, check-file-length

feat: Complete ADR-027 Phase 7 - Frontend FlowTypeConfig Migration
  docs/implementation/ADR-027-PHASE-7-IMPLEMENTATION-SUMMARY.md
  docs/implementation/ADR027-FINAL-STATUS-REPORT.md
  docs/implementation/adr027-phase7-frontend-guide.md
  src/App.tsx
  src/components/layout/sidebar/Sidebar.tsx
  src/components/lazy/routes/LazyRoutes.tsx
  src/config/discoveryRoutes.ts
  src/config/flowRoutes.ts
  src/examples/FlowPhaseMigrationExample.tsx
  src/hooks/useFlowPhases.ts
  src/pages/assessment/DependencyAnalysis.tsx
  src/pages/assessment/TechDebtAssessment.tsx
Due: none

feat: Add ui_short_name field for compact sidebar navigation labels
  backend/app/api/v1/endpoints/flow_metadata.py
  backend/app/services/flow_configs/assessment_phases/complexity_analysis_phase.py
  backend/app/services/flow_configs/assessment_phases/dependency_analysis_phase.py
  backend/app/services/flow_configs/assessment_phases/readiness_assessment_phase.py
  backend/app/services/flow_configs/assessment_phases/recommendation_generation_phase.py
  backend/app/services/flow_configs/assessment_phases/risk_assessment_phase.py
  backend/app/services/flow_configs/assessment_phases/tech_debt_assessment_phase.py
  backend/app/services/flow_configs/discovery_phases/asset_inventory_phase.py
  backend/app/services/flow_configs/discovery_phases/data_cleansing_phase.py
  backend/app/services/flow_configs/discovery_phases/data_import_phase.py
  backend/app/services/flow_configs/discovery_phases/data_validation_phase.py
  backend/app/services/flow_configs/discovery_phases/field_mapping_phase.py
  src/components/layout/sidebar/Sidebar.tsx
  src/config/api.ts
  src/config/discoveryRoutes.ts
  src/hooks/useFlowPhases.ts
Due: mypy-staged, check-file-length

refactor: Apply Qodo Bot code quality improvements
  src/pages/assessment/DependencyAnalysis.tsx
  src/pages/assessment/TechDebtAssessment.tsx
Due: none

feat: Migrate discovery validation and transitions to FlowTypeConfig
  backend/app/services/discovery/flow_execution_service.py
  backend/app/services/flow_orchestration/transition_utils.py
Due: mypy-staged, check-file-length

feat: Complete ADR-027 FlowTypeConfig migration - eliminate hardcoded phase sequences
  backend/app/services/agents/flow_processing/tools/route_decision.py
  backend/app/services/crewai_flows/unified_discovery_flow/flow_config.py
  backend/app/services/crewai_flows/unified_discovery_flow/state_management.py
  backend/app/services/flow_configs/discovery_phase_constants.py
  backend/app/services/flow_continuation/simple_flow_router.py
  src/config/discoveryRoutes.ts
  src/hooks/discovery/attribute-mapping/usePhaseAwareFlowResolver.ts
  src/pages/assessment/DependencyAnalysis.tsx
  src/pages/discovery/CMDBImport/hooks/useFlowManagement.ts
  tests/e2e/ADR-027-E2E-TEST-REPORT.md
  tests/e2e/adr027-flowtype-config.spec.ts
Due: mypy-staged, check-file-length

docs: Add PhaseController vs FlowTypeConfig clarification comments
  backend/app/services/crewai_flows/unified_discovery_flow/phase_controller.py
Due: mypy-staged, check-file-length

fix: Make FlowTypeRegistry.register() idempotent to prevent duplicate registration errors
  backend/app/services/flow_type_registry.py
Due: mypy-staged, check-file-length
