Repository amitcjmu/Stock-Analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-staged, check-file-length

mypy-staged:
  name: mypy type checking (staged files only)
  entry: sh -c 'files=$(git diff --staged --name-only --diff-filter=AM | grep "^backend/.*\.py$"); [ -n "$files" ] && echo "$files" | xargs mypy --ignore-missing-imports --no-strict-optional || true'
  language: system
  pass_filenames: false

check-file-length:
  name: Check Python file length (max 400 lines)
  entry: /opt/homebrew/bin/python3.11 scripts/check-file-length.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: Use bound ENUM types in migration columns
  backend/alembic/versions/030_add_sixr_analysis_tables.py
Due: mypy-staged, check-file-length

fix: Resolve multiple bug issues
  .playwright-mcp/discovery-monitor-page-fix-validated.png
  .playwright-mcp/page-2025-08-21T03-15-35-492Z.png
  backend/.adcs/credentials.json
  backend/alembic/versions/030_add_sixr_analysis_tables.py
  backend/alembic/versions/cb5aa7ecb987_merge_heads_for_attribute_mapping_fix.py
  backend/app/api/v1/endpoints/plan.py
  backend/app/api/v1/endpoints/unified_discovery/flow_handlers.py
  backend/app/api/v1/router_registry.py
  backend/app/infrastructure/test_deployment_flexibility.py
  backend/app/services/flow_configs/collection_flow_config.py
  backend/app/services/master_flow_orchestrator/core.py
  backend/scripts/test_discovery_flow_linkage.py
  src/config/api.ts
  src/hooks/discovery/attribute-mapping/useImportData.ts
  src/hooks/useFlowUpdates.ts
  src/hooks/useTimeline.ts
  src/pages/discovery/CMDBImport/hooks/useCMDBImport.ts
  src/pages/discovery/EnhancedDiscoveryDashboard/index.tsx
  tests/frontend/AssetInventory.test.jsx
Due: mypy-staged, check-file-length

fix: Address critical Qodo Bot PR review findings
  .gitignore
  backend/.adcs/credentials.json
  backend/app/services/master_flow_orchestrator/core.py
  src/config/api.ts
  tests/frontend/AssetInventory.test.jsx
Due: mypy-staged, check-file-length

fix: Resolve critical API and UI bugs affecting Discovery and Collection features
  backend/app/api/v1/endpoints/collection.py
  backend/app/api/v1/endpoints/collection_crud_create_commands.py
  backend/app/api/v1/endpoints/collection_flow_lifecycle.py
  backend/app/api/v1/endpoints/unified_discovery/__init__.py
  backend/app/api/v1/endpoints/unified_discovery/asset_handlers.py
  backend/app/schemas/collection_flow.py
  src/components/layout/sidebar/Sidebar.tsx
  src/pages/CollectionFlowManagementPage.tsx
  src/pages/Discovery.tsx
  src/utils/errorHandling.ts
  src/utils/retry.ts
Due: mypy-staged, check-file-length

fix: Address critical Qodo bot PR review findings
  backend/app/api/v1/endpoints/collection.py
  backend/app/api/v1/endpoints/collection_crud_create_commands.py
  backend/app/api/v1/endpoints/collection_flow_lifecycle.py
  backend/app/api/v1/endpoints/unified_discovery/asset_handlers.py
  backend/app/schemas/collection_flow.py
  backend/app/services/collection_flow_analyzer.py
  backend/app/services/collection_flow_rate_limiter.py
Due: mypy-staged, check-file-length

fix: Address additional Qodo bot review findings
  backend/app/api/v1/endpoints/collection.py
  backend/app/api/v1/endpoints/collection_crud_create_commands.py
  backend/app/api/v1/endpoints/collection_flow_lifecycle.py
  backend/app/api/v1/endpoints/unified_discovery/asset_handlers.py
  backend/app/services/collection_flow_analyzer.py
Due: mypy-staged, check-file-length

fix: Implement JWT session timeout security fix for issue #179
  src/config/api.ts
  src/hooks/useWebSocket.ts
  src/lib/api/apiClient.ts
  src/pages/DebugContext.tsx
  src/pages/admin/AdminDashboard.tsx
  src/services/ApiClient.ts
  src/services/api/masterFlowService.extensions.ts
  src/services/api/masterFlowService.ts
  src/utils/contextUtils.ts
Due: none

fix: Resolve critical bugs affecting Discovery, Collection, and session management
  backend/app/models/unified_discovery_flow_state.py
  backend/app/services/crewai_flows/unified_discovery_flow/base_flow.py
  backend/app/services/crewai_flows/unified_discovery_flow/phase_handlers.py
  backend/requirements-docker.txt
  backend/requirements.txt
  src/components/collection/forms/AdaptiveFormContainer.tsx
  src/hooks/collection/useAdaptiveFormFlow.ts
  src/pages/collection/AdaptiveForms.tsx
  tests/e2e/screenshots/simple-clean-upload-state_2025-08-21T18-49-25-413Z.png
  tests/e2e/screenshots/simple-login_2025-08-21T18-49-22-617Z.png
  tests/e2e/test-results/discovery-import-page.png
  tests/e2e/test-results/discovery-page-full.png
Due: mypy-staged, check-file-length

fix: Address Qodo bot PR review feedback
  backend/alembic/versions/030_add_sixr_analysis_tables.py
  backend/app/api/v1/endpoints/unified_discovery/flow_handlers.py
  backend/app/services/master_flow_orchestrator/core.py
  src/hooks/useTimeline.ts
Due: mypy-staged, check-file-length

docs: Add ADR-020 for flow-type aware phase transitions and implementation plan
  backend/app/services/flow_orchestration/execution_engine_phase_utils.py
  docs/adr/020-flow-type-aware-phase-transitions.md
  docs/adr/README.md
  docs/planning/collection-flow/changes-summary.md
  docs/planning/collection-flow/implementation-plan.md
Due: mypy-staged, check-file-length

fix: Update TenantScopedAgentPool parameters in Collection flow
  backend/app/services/flow_orchestration/execution_engine_crew_collection.py
Due: mypy-staged, check-file-length

docs: Update implementation plan with critical fixes from code analysis
  docs/planning/collection-flow/implementation-plan.md
Due: none

fix: Complete critical Collection flow infrastructure fixes
  .playwright-mcp/collection-flow-status.png
  backend/app/services/flow_configs/collection_flow_config.py
  backend/app/services/flow_configs/collection_phases/__init__.py
  backend/app/services/flow_configs/collection_phases/automated_collection_phase.py
  backend/app/services/flow_configs/collection_phases/gap_analysis_phase.py
  backend/app/services/flow_configs/collection_phases/manual_collection_phase.py
  backend/app/services/flow_configs/collection_phases/platform_detection_phase.py
  backend/app/services/flow_configs/collection_phases/questionnaire_generation_phase.py
  backend/app/services/flow_configs/collection_phases/synthesis_phase.py
  backend/app/services/flow_orchestration/execution_engine_agents.py
  backend/app/services/flow_orchestration/execution_engine_core.py
  backend/app/services/flow_orchestration/execution_engine_phase_utils.py
Due: mypy-staged, check-file-length

refactor: Modularize PhaseTransitionAgent and fix all pre-commit issues
  backend/app/services/crewai_flows/agents/decision/collection_analysis.py
  backend/app/services/crewai_flows/agents/decision/collection_decisions.py
  backend/app/services/crewai_flows/agents/decision/discovery_analysis.py
  backend/app/services/crewai_flows/agents/decision/discovery_decisions.py
  backend/app/services/crewai_flows/agents/decision/phase_transition.py
  backend/app/services/crewai_flows/agents/decision/utils.py
Due: mypy-staged, check-file-length

feat: Add Collection flow frontend routing and type definitions
  src/config/flowRoutes.ts
  src/types/flow.ts
Due: none

fix: Complete collection flow fixes with proper modularization
  backend/app/api/v1/endpoints/collection_crud_create_commands.py
  backend/app/api/v1/endpoints/collection_crud_queries.py
  backend/app/api/v1/endpoints/collection_crud_questionnaires.py
  backend/app/api/v1/endpoints/collection_mfo_utils.py
  backend/app/services/crewai_flows/agents/decision/collection_decisions.py
  backend/app/services/crewai_flows/agents/decision/discovery_decisions.py
  backend/app/services/crewai_flows/agents/decision/phase_transition.py
  backend/app/services/crewai_flows/agents/decision/utils.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_managers/automated_collection_manager.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_managers/collection_executor.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_managers/manual_collection_manager.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_managers/platform_detection_manager.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_managers/questionnaire_handler.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_managers/response_processor.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/service_initializer.py
  backend/app/services/crewai_flows/unified_discovery_flow/handlers/phase_handlers.py
  backend/app/services/flow_orchestration/execution_engine_core.py
  backend/app/services/flow_orchestration/execution_engine_crew_collection.py
  backend/app/services/flow_orchestration/execution_engine_phase_utils.py
  backend/app/services/manual_collection/bulk_data_models.py
  backend/app/services/manual_collection/bulk_data_parser.py
  backend/app/services/manual_collection/bulk_data_service.py
  backend/app/services/manual_collection/bulk_data_validator.py
  backend/app/services/manual_collection/bulk_template_service.py
  backend/app/services/manual_collection/data_conflict_resolver.py
  backend/app/services/manual_collection/data_integration_models.py
  backend/app/services/manual_collection/data_integration_service.py
  backend/app/services/manual_collection/data_quality_assessor.py
  backend/app/services/manual_collection/template_models.py
  backend/app/services/manual_collection/template_service.py
  backend/app/services/tools/collection_orchestration/quality_validator.py
  backend/app/services/workflow_orchestration/handoff_protocol.py
  src/pages/discovery/EnhancedDiscoveryDashboard/hooks/useDashboardFilters.ts
  src/pages/discovery/EnhancedDiscoveryDashboard/index.tsx
  src/services/api/collection-flow.ts
Due: mypy-staged, check-file-length

fix: Resolve issue #213 - Multiple 404 errors in production
  backend/app/api/v1/endpoints/execute.py
  backend/app/api/v1/router_imports.py
  backend/app/api/v1/router_registry.py
  src/pages/assessment/AssessmentFlowOverview.tsx
Due: mypy-staged, check-file-length

fix: Resolve multiple bug issues
  backend/app/api/v1/endpoints/execute.py
  backend/app/api/v1/router_registry.py
  src/services/api/masterFlowService.ts
Due: mypy-staged, check-file-length

fix: Address Qodo review feedback for execute endpoints
  backend/app/api/v1/endpoints/execute.py
Due: mypy-staged, check-file-length

fix: Resolve Docker startup issues and improve developer experience
  DOCKER_SETUP.md
  config/docker/backend/init.sql/init.sql
  config/docker/docker-compose.override.yml
  docker-check.sh
  docker-start.sh
  docker-stop.sh
Due: none

fix: Address Qodo bot feedback on Docker and API improvements
  backend/app/api/v1/endpoints/execute.py
  docker-check.sh
Due: mypy-staged, check-file-length

fix: Add missing engagement_id and client_account_id attributes to FieldMappingExecutor
  backend/app/services/crewai_flows/handlers/phase_executors/field_mapping_executor.py
Due: mypy-staged, check-file-length

fix: Remove references to non-existent flowId field in dashboardService
  src/pages/discovery/EnhancedDiscoveryDashboard/services/dashboardService.ts
Due: none

fix: Resolve clientAccountId/engagementId variable reference errors in MasterFlowService
  src/services/api/masterFlowService.ts
Due: none

fix: Resolve all remaining snake_case conversion issues
  backend/app/services/flow_orchestration/status_manager.py
  docs/testing/REGRESSION_CATALOG.md
  docs/testing/SUITE_MATRIX.md
  src/hooks/useAssessmentFlow/api.ts
  src/hooks/useAssessmentFlow/eventSource.ts
  src/hooks/useDemoData.ts
  src/lib/api/auth.ts
  src/lib/api/sixr.ts
  src/pages/DebugContext.tsx
  src/services/appInitializer.ts
  src/utils/api/httpClient.ts
Due: mypy-staged, check-file-length

fix: Display intelligent agent messages in UI when resuming flows
  src/hooks/discovery/useFlowOperations.ts
  src/services/api/masterFlowService.ts
  src/types/api/flow-continuation.ts
Due: none

feat: Add modal-based agent guidance display system
  src/components/discovery/AgentGuidanceModal.tsx
  src/components/discovery/FlowResumptionHandler.tsx
  src/pages/discovery/EnhancedDiscoveryDashboard/index.tsx
Due: none

fix: Import FlowStatusWidget as default export
  src/pages/discovery/EnhancedDiscoveryDashboard/index.tsx
Due: none

fix: Fix routing decision to use proper routes instead of action names
  .playwright-mcp/02-main-dashboard.png
  .playwright-mcp/04-attribute-mapping-error.png
  .playwright-mcp/05-collection-adaptive-forms.png
  .playwright-mcp/06-assessment-tech-debt.png
  .playwright-mcp/07-assessment-treatment-planning.png
  .playwright-mcp/flow-status-widget-working.png
  backend/app/services/agents/flow_processing/tools/route_decision.py
  backend/app/services/agents/intelligent_flow_agent/agent.py
Due: mypy-staged, check-file-length

fix: Address critical Qodo Bot PR feedback issues
  src/components/discovery/AgentGuidanceModal.tsx
  src/components/discovery/FlowResumptionHandler.tsx
  src/hooks/useFlowUpdates.ts
  tests/run_tests_docker.py
Due: check-file-length

🐛 Collection Flow: Adaptive Forms bug batch
  CHANGELOG.md
  backend/app/api/v1/endpoints/collection_crud_questionnaires.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/flow_utilities.py
  backend/app/services/crewai_flows/unified_collection_flow_modules/phase_handlers/questionnaire_generation_handler.py
  docs/planning/collection-flow-issues/2025-08-23_collection-flow-issues.md
  src/hooks/collection/useAdaptiveFormFlow.ts
  src/pages/collection/AdaptiveForms.tsx
  src/services/api/collection-flow.ts
Due: mypy-staged, check-file-length

🐛 Adaptive Forms: render sections reliably
  src/utils/collection/formDataTransformation.ts
Due: none

🐛 Adaptive Forms: normalize select options
  src/utils/collection/formDataTransformation.ts
Due: none

🐛 Questionnaire Submit: align backend with frontend payload
  backend/app/api/v1/endpoints/collection_crud_update_commands.py
Due: mypy-staged, check-file-length

fix: Address Qodo Bot review feedback
  backend/app/services/crewai_flows/unified_discovery_flow/handlers/phase_handlers.py
  scripts/test-cmdb-import.sh
Due: mypy-staged, check-file-length

fix: Address Qodo Bot feedback on PR #224 - Critical JSONB, placeholder logic, CSV export
  backend/alembic/versions/031_add_flow_deletion_audit_table.py
  backend/app/api/v1/endpoints/collection_crud_update_commands.py
  backend/app/services/crewai_flows/unified_discovery_flow/handlers/phase_handlers.py
  src/pages/Assess.tsx
Due: mypy-staged, check-file-length

fix: Resolve final Qodo Bot issues in PR #224 - ephemeral submissions and UX improvements
  backend/app/api/v1/endpoints/collection_crud_update_commands.py
  src/pages/collection/AdaptiveForms.tsx
Due: mypy-staged, check-file-length

Path conditions:
  mypy-staged: any of: ^backend/.*\.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$

  check-file-length: any of: \.py$, but not: (?x)^(
  backend/venv/.*|
  backend/migrations/.*|
  backend/tests/fixtures/.*|
  .*\.egg-info/.*|
  docs/.*\.md|
  scripts/archive/.*|
  node_modules/.*|
  build/.*|
  dist/.*
)$

